
@use "sass:string";
// =============================================================
//
//   ミックスイン
//
// =============================================================

// -------------------------------------------------------------
//   メディアクエリ
// -------------------------------------------------------------
@mixin mediaQueryS {
    @media #{$breakpointS} {
        @content;
    }
}

@mixin mediaQueryM {
    @media #{$breakpointM} {
        @content;
    }
}

@mixin mediaQueryL {
    @media #{$breakpointL} {
        @content;
    }
}

@mixin mediaQuerySM {
    @media #{$breakpointSM} {
        @content;
    }
}

@mixin mediaQueryML {
    @media #{$breakpointML} {
        @content;
    }
}


// -------------------------------------------------------------
//   フォントサイズ
// -------------------------------------------------------------

@mixin fz-rwd($fontsize) {
    @if $fontsize <= 18 {
        @if $fontsize == 18 {
            font-size: 1.6rem;
            @include mediaQueryML {
                font-size: 1.8rem;
            }
        } @else {
            @include mediaQueryML {
                font-size: $fontsize * 0.1rem;
            }
        }
    } @else if $fontsize <= 20 {
        font-size: 1.8rem;
        @if $fontsize == 20 {
            @include mediaQueryL {
                font-size: 2rem;
            }
        } @else {
            @include mediaQueryL {
                font-size: $fontsize * 0.1rem;
            }
        }
    } @else if $fontsize <= 22 {
        font-size: 1.8rem;
        @if $fontsize == 22 {
            @include mediaQueryL {
                font-size: 2.2rem;
            }
        } @else {
            @include mediaQueryL {
                font-size: $fontsize * 0.1rem;
            }
        }
    } @else if $fontsize <= 24 {
        font-size: 2rem;
        @if $fontsize == 24 {
            @include mediaQueryL {
                font-size: 2.4rem;
            }
        } @else {
            @include mediaQueryL {
                font-size: $fontsize * 0.1rem;
            }
        }
    } @else if $fontsize <= 26 {
        font-size: 2rem;
        @if $fontsize == 26 {
            @include mediaQueryL {
                font-size: 2.6rem;
            }
        } @else {
            @include mediaQueryL {
                font-size: $fontsize * 0.1rem;
            }
        }
    } @else if $fontsize <= 32 {
        font-size: 2.2rem;
        @include mediaQueryM {
            font-size: 2.4rem;
        }
        @if $fontsize == 32 {
            @include mediaQueryL {
                font-size: 3.2rem;
            }
        } @else {
            @include mediaQueryL {
                font-size: $fontsize * 0.1rem;
            }
        }
    }
}// @include fz-rwd();


// -------------------------------------------------------------
//   アニメーション
// -------------------------------------------------------------
@mixin trans($property...) {
    transition-property: $property;
    transition-duration: $duration;
    transition-timing-function: ease-out;
}