@charset "euc-jp";

/*共通*/
.ico {
    display:inline-block;
    background-repeat:no-repeat;
    background-position:0 0;
    position: relative;
    margin-left:5px;
    &_cta {
        width:28px;
        height:28px;
        background-image:url(../img/ico_cta_arrow_l.png);
        top:-2px;
        @media only screen and (max-width: 767px) {
            width:20px;
            height:20px;
            background-image:url(../img/ico_cta_arrow_s.png);
            background-size:20px auto;
        }
    }
    &_blank {
        width:18px;
        height:18px;
        background-image:url(../img/ico_blank_l.png);
        margin-left: 10px;
        @media only screen and (max-width: 767px) {
            width:14px;
            height:15px;
            background-image:url(../img/ico_blank_s.png);
            background-size:14px auto;
        }
    }
}
a.cv_btn{
    text-decoration: none;
}
.cv_btn {
    display:inline-block;
    color:#fff;
    font-size:30px;
    font-weight:bold;
    background:#ff8400;
    border-radius:10px;
    border-bottom:5px solid #e57700;
    text-decoration: none;
    width:640px;
    padding:14px 0;
    transition: .3s;
    &:hover {
        color:#fff;
        margin-top:3px;
        border-bottom-width:2px;
    }
    @media only screen and (max-width: 767px) {
        width:100%;
        max-width:345px;
        font-size:22px;
    }

}
.cp_holder {
    max-width: 970px;
    margin: 0 auto;
}
.cp_holder2 {
    max-width: 850px;
    margin: 0 auto;
}
.cp_ttl {
    text-align: center;
    @media only screen and (min-width: 768px) {
        img {
            max-width: 92%;
        }
    }
}
.cp_inner {
    margin: 50px auto 0;
    padding: 45px 60px 20px;
    text-align: center;
    @media only screen and (max-width: 767px) {
        margin-top: 10.6vw;
        padding: 8vw 4vw;
    }
}
.overview {
    background-color: #f5f5f5;
    margin: 60px auto;
    padding-bottom: 60px;
    &_ttl {
        padding: 9px 0;
        text-align: center;
        color: #fff;
        font-weight: bold;
        font-size: 17px;
        line-height: 1.3;
    }
    &_table {
        width: 92%;
        margin-top: 50px;
        font-size: 14px;
        line-height: 1.4;
        tr {
            display: block;
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }
        th {
            width: 190px;
            font-size: 17px;
        }
        .ol {
            margin-left: 1.3em;
        }
    }
    @media only screen and (max-width: 767px) {
        width: 92vw;
        margin: 10.6vw auto;
        padding-bottom: 30px;
        &_ttl {
            padding: 9px 4vw;
            font-size: 16px;
        }
        &_table {
            width: 84vw;
            max-width: none;
            margin-top: 30px;
            tr {
                &:not(:last-child) {
                    margin-bottom: 30px;
                }
            }
            th,td {
                display: block;
                width: 100%;
            }
            th {
                padding-bottom: 5px;
                font-size: 16px;
            }
        }
    }
}

/*ヘッダー*/
.header {
    background: #fff;
    border-bottom: 1px solid #ccc;
    &_body {
        padding: 20px 0 15px;
    }
    @media only screen and (max-width: 767px) {
        &_body {
            padding: 18px 0 0;
        }
    }
}
.logo {
    float: left;
    width: 205px;
    padding-left: 20px;
    a {
        display: block;
        width: 100%;
    }
    @media only screen and (max-width: 767px) {
        width: 130px;
        padding-bottom: 18px;
    }
}
.shared {
    float: right;
    &_toggle {
        position: absolute;
        top: 16px;
        right: 20px;
        display: block;
        width: 0;
        height: 30px;
        background: url("../img/btn_share.png") no-repeat left top / cover;
    }
    &_list {
        padding-top: 10px;
        li {
            display: inline-block;
            vertical-align: top;
        }
    }
    @media only screen and (max-width: 767px) {
        width: 100%;
        &_toggle {
            width: 30px;
        }
        &_list {
            display: none;
            &.is-open {
                padding: 20px;
                background: #f8f8f8;
            }
        }
    }
}

/*MV*/
.mv {
    text-align: center;
    position:relative;
    &_finish {
        display:flex;
        justify-content: center;
        align-items: center;
        width:100%;
        height:100%;
        position:absolute;
        top:0;
        left:0;
        z-index:8;
        background:rgba(0,0,0,.6);
        span {
            display:block;
            background:#fff;
            padding:30px;
            font-size:33px;
            font-weight:bold;
            line-height:1;
            @media only screen and (max-width: 1099px) {
                padding:3vw;
                font-size:3.2vw;
            }
        }
    }
    &_inner {
        background: url(../img/mv_bg_l.png) no-repeat center top / cover;
        height: 1035px;
        overflow: hidden;
        @media only screen and (max-width: 1099px) {
            height: auto;
            padding-bottom: 40px;
        }
    }
    &_body {
        padding-top: 30px;
        position: relative;
        z-index: 2;
        &::before {
            content: "";
            background: url(../img/mv_bg_sakura_l.png) no-repeat left top / 100% 100%;
            width: 1683px;
            height: 965px;
            position: absolute;
            top: -40px;
            left: calc(50% + 15px);
            transform: translateX(-50%);
            z-index: -1;
        }
    }
    &_catch {
        margin:80px 0 0 -36px;
    }
    &_period {
        background: #000;
        width: 600px;
        margin: 20px auto;
        box-sizing: border-box;
        padding: 7px 0;
        border-radius: 4px;
        font-weight: bold;
        color: #fff;
        font-size: 16px;
        line-height: 1.4;
    }
    &_cplist {
        margin-top: 62px;
        display: flex;
        justify-content: center;
        &_item {
            &:not(:last-child) {
                margin-right: 40px;
            }
            a {
                display: block;
                position: relative;
            }
            &_num {
                position: absolute;
                top: -42px;
                left: -39px;
                z-index: 2;
            }
            &_txt {
                position: relative;
                z-index: 1;
            }
        }
    }
    &_servicecp {
        background-color: #1b63a7;
        padding: 10px 0;
        a {
            display: inline-block;
            max-width: 92%;
        }
    }
    @media only screen and (max-width: 767px) {
        &_inner {
            background-image: url(../img/mv_bg_s.png);
            height: auto;
        }
        &_body {
            padding-top: 8vw;
            &::before {
                background-image: url(../img/mv_bg_sakura_s.png);
                width: 100%;
                height: 255.4vw;
                top: -6.6vw;
                left: 0;
                transform: translateX(0);
            }
        }
        &_catch {
            margin:20px 0;
            @media only screen and (max-width: 767px) {
                margin: 20px;
            }
        }
        &_catch img {
            width: 98.4vw;
        }
        &_period {
            display: inline-block;
            width: auto;
            /* margin: 6.6vw 0 0; */
            padding: 2vw 1em;
            font-size: 3.7vw;
            @media only screen and (max-width: 768px) {
                display: block;
                margin-left: 15px;
                margin-right: 15px;
            }
        }
        &_cplist {
            display: block;
            width: 78.6vw;
            margin: 16vw auto 0;
            &_item {
                &:not(:last-child) {
                    margin: 0 0 16vw;
                }
                &_num {
                    width: 25.7vw;
                    top: -10.9vw;
                    left: 0;
                    right: 0;
                    margin: auto;
                }
            }
        }
        &_servicecp {
            padding: 4vw;
            a {
                max-width: none;
            }
        }
    }
    &_pr {
        background: url(../img/mv_pr_bg.png) center 135px no-repeat;
        margin: -41px auto 0;
        min-height: 460px;
        position: relative;
        width: 914px;
        @media only screen and (max-width: 1099px) {
            background: none;
            min-height: auto;
            margin-bottom: 20px;
            width: 100%;
        }
        @media only screen and (max-width: 768px) {
            box-sizing: border-box;
            margin: 0;
            min-height: auto;
            padding: 0 15px;
        }
        &_ttl {
            margin: 0 0 37px -15px;
            @media only screen and (max-width: 768px) {
                margin: 0 0 20px;
            }
        }
        &_wchance {
            position: absolute;
            right: -115px;
            top: 41px;
            @media only screen and (max-width: 1200px) {
                right: -85px;
            }
            @media only screen and (max-width: 1099px) {
                margin-top: 15px;
                position: static;
            }
        }
        &_note {
            color: #fff;
            font-weight: 700;
            margin: 55px 0 28px;
            text-align: right;
            transform: translateX(12px);
            @media only screen and (max-width: 1099px) {
                margin: 0;
                text-align: center;
                transform: translate(0);
            }
        }
    }
}

/*キャンペーン*/
.cpwrap {
    position: relative;
}
@keyframes flakes_x {
    100% {
        transform: rotateX(180deg);
    }
}
@keyframes flakes_rotate {
    100% {
        transform: rotate(360deg);
    }
}
.snowfall {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    .box {
        background-color: #ffdef0;
        width: 100%;
        height: 100%;
        margin: 0;
        border: none;
    }
}
.cp1 {
    /* padding-top: 80px; */
    &_prize {
        background: #fe5eb5;
        background: linear-gradient(to right,#fe5e5e,#fe5eb5);
    }
    &_catch {
        margin-bottom: 40px;
    }
    &_service {
        margin: 40px 0;
        @media only screen and (max-width: 768px) {
            margin: 40px 0;
        }
    }
    &_listwrap {
        background:url(../img/bg_lineeffect.png) #fff no-repeat center / 120% auto;
        border:4px solid #fccc5c;
        padding: 30px 30px 20px;
        @media only screen and (max-width: 768px) {
            background-size: auto 120%;
            padding: 5.3vw 5.3vw 8vw;
        }
    }
    &_caption {
        background:#000;
        color:#fff;
        margin:0 0 30px;
        padding:6px;
        font-size:20px;
        text-align:center;
        @media only screen and (max-width: 767px) {
            margin-bottom: 8vw;
            padding: 2.2vw 0;
            font-size:4vw;
            line-height: 1.4;
        }
    }
    &_list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0 -25px;
        &>li {
            width:212px;
            height: 190px;
            margin: 0 25px;
            position: relative;
            @media only screen and (max-width: 767px) {
                margin: 0 auto 10px;
            }
        }
        &-card {
            margin:0 0 15px;
            @media only screen and (max-width: 767px) {
                margin-bottom: 10px;
            }
        }
        &-users {
            color:#eb0f0a;
            font-weight:bold;
            font-size:19px;
            line-height: 1;
            text-align: center;
            .num {
                font-size:32px;
            }
        }
        &-recommend {
            border:2px solid #000;
            border-radius:10px;
            background:#fff;
            margin:0 20px 0;
            padding:10px;
            font-size:16px;
            font-weight:bold;
            position:relative;
            line-height:1.2;
            min-height:40px;
            display:flex;
            align-items: center;
            justify-content: center;
            &:before,&:after {
                content:"";
                display:block;
                border:10px solid transparent;
                border-bottom-color:#fff;
                position:absolute;
                left:50%;
                margin-left:-10px;
                top:-19px;
            }
            &:before {
                border-bottom-color:#000;
                top:-21px;
            }
        }
    }
    &_item {
        background-color: #f8f7ef;
        width: calc(33.333% - 20px);
        box-sizing: border-box;
        border: 5px solid #fdce00;
        position: relative;
        overflow: hidden;
        margin: 0 20px 20px 0;
        font-weight: bold;
        &::before {
            content: "";
            background: url(../img/cp1_prize_bg.png) no-repeat left top / 100% 100%;
            width: 1052px;
            height: 1052px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            z-index: 1;
        }
        &_detail {
            position: relative;
            z-index: 2;
        }
        &_ttl {
            display: flex;
            align-items: center;
            padding: 10px 20px 5px 10px;
        }
        &_band {
            width: 76px;
            margin-bottom: 0;
        }
        &_num {
            margin: 0 0 0 auto;
            color: #fe5eb5;
            font-size: 36px;
            line-height: 1;
            span {
                font-size: 70%;
            }
        }
        &_img img {
            max-width: 75%;
        }
        &_cat {
            margin: 20px 20px 10px;
            text-align: left;
            color: #fff;
            font-size: 12px;
            line-height: 1;
            &_box {
                display: inline-block;
                background-color: #fe5eb5;
                padding: 4px 10px;
            }
        }
        &_name {
            margin-bottom: 0;
            padding: 0 20px 20px;
            text-align: left;
            /* font-size: 18px; */
            line-height: 1.4;
        }
        .note {
            text-align: left;
            font-weight: normal;
            font-size: 11px;
            line-height: 1.4;
            position: absolute;
            right: 15px;
            bottom: 15px;
        }
        @media only screen and (min-width: 768px) {
            &--a {
                width: 100%;
                .cp1_item {
                    &_ttl {
                        display: block;
                        padding: 25px 25px 0;
                    }
                    &_band {
                        width: 96px;
                    }
                    &_num {
                        width: 96px;
                        margin: 8px 0 0;
                        font-size: 40px;
                    }
                    &_img {
                        max-width: 73%;
                        position: absolute;
                        top: 30px;
                        right: 30px;
                        img {
                            max-width: 100%;
                        }
                    }
                    &_cat {
                        margin: 110px 35px 12px;
                        font-size: 16px;
                    }
                    &_name {
                        padding: 0 35px 35px;
                        font-size: 30px;
                    }
                }
            }
            &--b,
            &--c {
                width: calc(50% - 20px);
                .cp1_item {
                    &_ttl {
                        padding: 20px 40px 20px 25px;
                    }
                    &_band {
                        width: 96px;
                    }
                    &_num {
                        font-size: 40px;
                    }
                    &_img img {
                        max-width: 90%;
                    }
                    &_cat {
                        margin: 20px 30px 10px;
                        font-size: 14px;
                    }
                    &_name {
                        padding: 0 30px 20px;
                        font-size: 22px;
                    }
                }
            }
        }
    }
    &_wchance {
        margin-top: 55px;
        &_txt {
            margin-bottom: 40px;
        }
        &_item {
            position: relative;
        }
        &_ttl {
            max-width: 17vw;
            position: absolute;
            top: -10px;
            left: -10px;
            z-index: 2;
        }
        &_prize {
            position: relative;
            z-index: 1;
        }
    }
    &_cv {
        margin-top: 60px;
        text-align: center;
        &_btn {
            display: inline-block;
        }
    }
    .overview_ttl {
        background-color: #fe5eb5;
    }
    @media only screen and (max-width: 767px) {
        /* padding-top: 13.3vw; */
        &_ttl img {
            width: 59vw;
        }
        &_catch {
            margin-bottom: 8vw;
        }
        &_service {
            margin-bottom: 8vw;
        }
        &_list {
            display: block;
            margin: 0 0 -4vw;
        }
        &_item {
            width: auto;
            border-width: 4px;
            margin: 0 0 4vw;
            &::before {
                width: 124vw;
                height: 124vw;
            }
            &_ttl {
                padding: 2.6vw;
            }
            &_band {
                width: 18.6vw;
            }
            &_num {
                margin: 0 0 0 3.2vw;
                font-size: 6.9vw;
            }
            &_img {
                display: flex;
                align-items: center;
                width: 38vw;
                height: 100%;
                position: absolute;
                top: 0;
                right: 4vw;
                img {
                    max-width: 100%;
                }
            }
            &_cat {
                margin: 0 4vw 2vw;
                font-size: 2.9vw;
                &_box {
                    padding: 0.4em 0.7em;
                }
            }
            &_name {
                padding: 0 4vw 4vw;
                font-size: 4vw;
            }
            .note {
                display: flex;
                align-items: center;
                height: 18.6vw;
                font-size: 2.6vw;
                top: 2.6vw;
                right: 5.3vw;
                bottom: auto;
            }
            &--a,
            &--b,
            &--c {
                .cp1_item {
                    &_img {
                        display: block;
                        width: 100%;
                        height: auto;
                    }
                }
            }
            &--a {
                .cp1_item {
                    &_ttl {
                        padding-bottom: 48.8vw;
                    }
                    &_img {
                        top: 21.3vw;
                        right: 0;
                        img {
                            width: 82vw;
                        }
                    }
                }
            }
            &--b,
            &--c {
                .cp1_item {
                    &_img {
                        position: static;
                    }
                }
            }
            &--b {
                .cp1_item {
                    &_ttl {
                        padding-bottom: 0;
                    }
                    &_img img {
                        width: 69.3vw;
                    }
                    &_cat {
                        margin-top: 4vw;
                    }
                }
            }
            &--c {
                .cp1_item {
                    &_img img {
                        width: 75vw;
                    }
                    &_cat {
                        margin-top: 2vw;
                    }
                }
            }
        }
        &_wchance {
            margin-top: 10.6vw;
            &_txt {
                margin-bottom: 9.3vw;
            }
            &_ttl {
                width: 29.3vw;
                max-width: none;
                top: -6.6vw;
                left: -2.6vw;
            }
        }
        &_cv {
            margin-top: 10.6vw;
            &_btn {
                width: 94.4vw;
            }
        }
    }
}

/*サービスキャンペーン*/
.servicecp {
    background-color: #f1f7fb;
    margin-top: 60px;
    padding: 60px 0;
    @media only screen and (min-width: 768px) {
        &_body {
            width: 92%;
        }
    }
    &_ttl {
        margin-bottom: 30px;
    }
    &_cv {
        margin-top: 50px;
        text-align: center;
        &_btn {
            display: inline-block;
        }
    }
    .overview {
        background-color: #fff;
        margin-top: 50px;
        &_ttl {
            background-color: #fe5eb5;
        }
        @media only screen and (min-width: 768px) {
            &_table {
                max-width: 750px;
            }
        }
    }
    @media only screen and (max-width: 767px) {
        padding: 10.6vw 0;
        &_ttl {
            margin-bottom: 4vw;
            img {
                width: 88.9vw;
            }
        }
        &_catch {
            padding: 0 4vw;
        }
        &_cv {
            margin-top: 8vw;
            &_btn {
                width: 94.4vw;
            }
        }
        .overview {
            margin-top: 8vw;
        }
    }
}

/*注意事項*/
.notes {
    background: #f8f5f0;
    padding-bottom: 100px;
    &_ttl {
        background: #ae8e2a;
        padding: 9px 0;
        text-align: center;
        color: #fff;
        font-weight: bold;
        font-size: 17px;
    }
    &_body {
        width: 92%;
        font-size: 14px;
        line-height: 1.6;
    }
    h4 {
        margin-top: 3.2em;
    }
    .ul {
        margin-top: 1.6em;
    }
    textarea {
        background: #fff;
        width: 100%;
        height: 220px;
        margin: 20px 0;
        box-sizing: border-box;
        padding: 30px;
        border: 1px solid #ccc;
        font-size: 14px;
        white-space: break-spaces;
    }
    @media only screen and (max-width: 767px) {
        padding-bottom: 60px;
        textarea {
            padding: 15px;
        }
    }
}

/*フッター*/
.copyright {
    background: #333;
    padding: 10px 0;
    text-align: center;
    font-size: 14px;
    color: #fff;
}

/*PS アールマーク調整*/
.ps_rmark {
    top: -2px;
    font-size: 13px;
}

/*同時開催中のキャンペーン*/
.campaign_visual_data {
    font-weight: 600;
    position: relative;
    background-color: #1b63a7;
    &_contents {
        &_balloon {
            display: table;
            margin: 0 auto;
            position: absolute;
            left: 50%;
            top: -17px;
            transform: translate(-50%);
            background: #fff;
            border-radius: 50px;
            color: #1b63a7;
            line-height: 1;
            padding: 7px 20px 5px;
            font-size: 2.2rem;
            border: 2px solid #1b63a7;
            text-align: center;
            &:after {
                content: "";
                display: block;
                position: absolute;
                left: 50%;
                bottom: -18px;
                margin-left: -10px;
                border: 10px solid transparent;
                border-top-color: #fff;
            }

            @media only screen and (min-width: 768px) and (max-width: 1099px) {
                font-size: 1.8rem;
                width: 40%;
                padding: 5px 10px 5px;
                top: -17px;
            }
            @media only screen and (max-width: 767px) {
                font-size: 1.4rem;
                width: 64vw;
                padding: 10px 10px 8px;
                top: -17px;
                &:after {
                    content: "";
                    display: block;
                    margin-left: -8px;
                    bottom: -14px;
                    border: 8px solid transparent;
                    border-top-color: #fff;
                }
            }
        }

        &_list {
            padding: 30px 10px;
            text-align: center;
            @media only screen and (min-width: 768px) and (max-width: 1099px) {
                padding: 20px 10px;
            }
            @media only screen and (max-width: 767px) {
                padding: 20px 10px;
            }

            img {
                width: 280px;
                margin-top: 15px;
                padding: 0 10px;

                @media only screen and (max-width: 767px) {
                    width: 280px;
                    padding-top: 15px;
                    display: block;
                    margin: auto;
                }
            }
        }
    }
}

