@charset "euc-jp";

/*

    ご意見・ご要望フォーム用スタイル
   
*/

/* =================================================================


    レイアウト共通


================================================================== */

/* ----------------------------------------------------------
    ご意見・ご要望フォーム / .opinion
------------------------------------------------------------- */
.opinion {}

.opinion_table { margin-bottom: 0; }
.opinion_table th,
.opinion_table td { padding: 15px; }

.opinion_label { margin-right: 10px; }
.opinion_i-radio { margin-right: 5px; }
.opinion_i-textarea { width: 90%; }

.opinion_btn-box {
    padding: 25px;
    border: 1px solid #d3d3d3;
    border-top: none;
    text-align: center;
}
.opinion_btn-box .btn { width: 250px; }


/* =================================================================


    スマートフォン想定(0px-767px)


================================================================== */
@media only screen and (min-width: 0) and (max-width: 767px) {    }


/* =================================================================


    タブレット想定(768px-969px)


================================================================== */
@media only screen and (min-width: 768px) and (max-width: 969px) {
    
    /* ----------------------------------------------------------
        [Tablet] ご意見・ご要望フォーム / .opinion
    ------------------------------------------------------------- */
    .opinion_table th { width: 30%; }
}


/* =================================================================


    PC想定(970px-)


================================================================== */
@media only screen and (min-width: 970px) {
    
    /* ----------------------------------------------------------
        [PC] ご意見・ご要望フォーム / .opinion
    ------------------------------------------------------------- */
    .opinion_table th { width: 25%; }
}