@charset "euc-jp";

/*

    検索結果ページ用スタイル
   
*/

/* =================================================================


    レイアウト共通


================================================================== */

/* ----------------------------------------------------------
    検索結果 / .result
------------------------------------------------------------- */
.result { margin-bottom: 20px; }

.result_num {
    float: left;
    line-height: 1.2;
}

.result_wrapper { float: right; }

.result_ttl { margin-bottom: 10px; }

.result_content {
    margin-bottom: 10px;
    font-size: 12px;
}
.result_url {
    float: left;
    font-size: 12px;
}
.result_num-keywords {
    float: right;
    font-size: 12px;
}

/* =================================================================


    スマートフォン想定(0px-767px)


================================================================== */
@media only screen and (min-width: 0) and (max-width: 767px) {
    /* ----------------------------------------------------------
        [SP] 検索結果 / .result
    ------------------------------------------------------------- */
    .result_num { width: 16%; }
    
    .result_wrapper { width: 82%; }
}


/* =================================================================


    タブレット想定(768px-969px)


================================================================== */
@media only screen and (min-width: 768px) and (max-width: 969px) {
    /* ----------------------------------------------------------
        [Tablet] 検索結果 / .result
    ------------------------------------------------------------- */
    .result_num { width: 6%; }
    
    .result_wrapper { width: 92%; }
}


/* =================================================================


    PC想定(970px-)


================================================================== */
@media only screen and (min-width: 970px) {
    /* ----------------------------------------------------------
        [PC] 検索結果 / .result
    ------------------------------------------------------------- */
    .result_num { width: 40px; }
    
    .result_wrapper { width: 660px; }
}

