* {
	margin : 0 ;
	padding : 0 ;
	font-size : 100% ;
}

body {
	font-size : 75% ;
	text-align : center ;
	line-height : 1.4 ;
}

ul, li {
	list-style : none ;
}

#contents {
	width : 1000px ;
	margin : 20px auto ;
}

#navi {
	width : 150px ;
	float : left ;
	margin-bottom : 30px ;
	text-align : left ;
}

#main {
	width : 830px ;
	float : right ;
	margin : 0 0 30px 20px ;
	text-align : left ;
}

#main h2 {
	font-size : 135% ;
	padding : 8px 5px ;
	background-color : #3783d0 ;
	margin : 0 0 15px 0 ;
	color : #fff ;
}

#main p {
	margin : 0 0 10px 0 ;
}

#main_menu {
	margin-bottom : 30px ;
}

#main_menu li {
	padding : 8px 8px 8px 5px ;
	border-bottom : 1px solid #ccc ;
}

#navi h3 {
	padding : 6px ;
	background : #397dc4 ;
	color : #fff ;
}

.sub_menu {
	margin-bottom : 12px ;
}

.sub_menu li {
	padding : 4px 4px 4px 12px ;
	border-bottom : 1px solid #ccc ;
}

#main h3 {
	padding : 6px ;
	border-left : 8px solid #397dc4 ;
	background : #ddeeff ;
	margin-bottom : 10px ;
	font-size : 130% ;
}

#main h4 {
	padding : 4px ;
	font-size : 110% ;
	background : #ddeeff ;
	margin-bottom : 6px ;
}

#main ul li {
	margin-bottom : 5px ;
}

#main input {
	padding : 2px 3px ; 
	margin : 0 5px 10px 0 ;
}

#main table input {
	margin : 0 ;
}

#main select {
	margin : 0 5px 10px 0 ;
}

#main table select {
	margin : 0 ;
}

#main hr {
	margin : 8px 0  ;
}

table {
	border-collapse : collapse;
    border-top : 1px solid #b3b3b3 ;
	border-left : 1px solid #b3b3b3 ;
	margin : 5px 0 12px 0 ;
	width : 100% ;
}

table.no_margin {
	margin : 0 ; 
	border-top : none ;
}

table.border_top {
	border-top : 1px solid #b3b3b3 ;
}

th {
	background: #ddd ;
    border-right : 1px solid #b3b3b3 ;
	border-bottom : 1px solid #b3b3b3 ;
	padding : 4px ;
	min-width : 30px ;
	width : auto ; !important
	width : 30px ;
}

td {
    border-right : 1px solid #b3b3b3 ;
	border-bottom : 1px solid #b3b3b3 ;
    vertical-align: top;
	padding : 4px ;
}


#footer {
	clear : both ;
	padding : 10px ;
	background : #ccc ;
	margin-bottom : 30px ;
}

#footer address {
	font-style :normal ;
}




/* 以下適用されているか不明　*/
span.ethna-error {
    color: #ff0000;
}

#navi-global {
    width: 580px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.navi-global-item {
    width: 116px;
    float: left;
    margin: 0;
    padding: 0;
    font-size: 80%;
    color: #333;
    text-align: center;
    background: #eee;
}

.navi-global-link {
    text-decoration: none;
    color: #3333cc;
    display: block;
    width: 100%;
    padding: 5px 0;
}

.navi-global-link:hover {
    background: #3333cc;
    color: #eee;
}
