//=============================================================
//
//  ボーダーボックス
//
//=============================================================

.border {
    margin-bottom: 1em;
    padding: 20px;
    border: 1px solid;
    border-radius: 3px;
    @include mediaQueryML {
        padding: 25px;
    }

    > :last-child {
        margin-bottom: 0;
    }

    &_gray {
        background-color: #fff;
        border-color: #ccc;
    }

    &_blue {
        background-color: #f7f8fa;
        border-color: #84a8c5;
    }

    &_yellow {
        background-color: #fffdf5;
        border-color: #efe6c0;
    }
}

.border-campaign_and{
    border: 0;
    height: 32px;
    background-image: url(../img/common/img_and.png);
    background-repeat: no-repeat;
    background-position: center;
}