//=============================================================
//
//  3番目に大きなブロック(h4相当)
//
//=============================================================
.serialBox {}

.box {
    margin: 0 0 20px;
    border: 1px solid #d6e5f2;

    .serial-box & {
        margin: 0;
        border-bottom: none;
        &_body {
            padding: 20px 20px 30px;
            @include mediaQueryML {
                padding: 30px 30px 40px;
            }
        }

        &:last-child {
            border-bottom: 1px solid #d6e5f2;
        }
    }

    // タイトル
    &_ttl {
        @include fz-rwd(18);
        padding: 15px 20px;
        background:#eff4f8;
        font-weight: 500;

        &.js--accordion{
            cursor: pointer;
            border-bottom:none;
            position: relative;
            .ico {
                position: absolute;
                right:8px;
                top:50%;
                margin-top:-.45em;
                transition:all .3s ease-in;
            }
            &+ .box__body {
                display:none;
            }
            &.is--open + .box__body {
                display:block;
            }
        }

        @include mediaQueryML {
            padding: 15px 30px;
        }
        &:last-child {
            border-bottom: none;
        }

        &_no-body {
            border-bottom: none;
        }
    }

    // 内容
    &_body {
        padding: 20px;
        @include mediaQueryML {
            padding: 30px;
        }

        > :last-child {
            margin-bottom : 0;
        }
    }
}