//=============================================================
//
//  サンプルコード
//
//=============================================================
.code {
    margin-bottom: 1em;
    padding: 12px 15px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 13px;
    -webkit-box-shadow: 1px 1px 2px #eee inset;
    -moz-box-shadow: 1px 1px 2px #eee inset;
    box-shadow: 1px 1px 2px #eee inset;
}