//=============================================================
//
//  フォーム
//
//=============================================================
.selectForm {
    appearance: none;
    height: 45px;
    padding: 0 38px 0 12px;
    background: url(../img/common/ico_arrow_down_black.svg) no-repeat right 13px center #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1.6rem; // for iOS
    outline: none;
    &:focus {
        border: 1px solid $colorMain;
    }

    // IE用
    &::-ms-value {
        background: none;
        color: $colorBody;
    }
    &::-ms-expand {
        display: none;
    }
}

input.inputForm { //inputは詳細度調整のためつけている
    width: 100%;
    height: 45px;
    padding: 0 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 1.6rem; // for iOS
    outline: none;

    // IE用
    &::-ms-clear {
        visibility: hidden;
    }
}

.buttonForm {
    @include trans(color, border, background-color);
    appearance: none;
    display: inline-block;
    position: relative;
    height: 45px;
    padding: 0 1em;
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
    cursor: pointer;
    font-family: inherit;
    font-size: 1.6rem; // for iOS
    font-weight: normal;
    font-feature-settings: "palt";
    line-height: 1.4;
    vertical-align: middle;
    text-align: center;
    text-decoration: none !important;
    background-color: $colorMain;
    color: #fff;
    &:hover {
        background-color: $colorMainLight;
        color: #fff;// overwrite
    }
}

.inputForm__group {
    &--row {
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        margin: -10px -5px 0;
        @include mediaQueryML {
            margin: -16px -8px 0;
        }
        .inputForm__body {
            margin-top: 10px;
            @include mediaQueryML {
                margin-top: 16px;
            }
            .inputForm__body__inr {
                padding: 0 5px;
                @include mediaQueryML {
                    padding: 0 8px;
                }
            }
        }
    }

    &--col {
        overflow: hidden;
        margin-top: -10px;
        .inputForm__body {
            display: block;
            margin-top: 10px;
        }
    }
}

.inputForm__body {
    display: inline-block;
    box-sizing: border-box;
    font-feature-settings: "palt";
}

// secure側のcss流用
.radioForm,
.checkboxForm {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    overflow: hidden;
    padding: 0;
    clip: rect(0, 0, 0, 0);

    @include mediaQueryS {
        display: none;
    }
}

.radioLabelForm,
.radioLabelForm--simple,
.checkboxLabelForm,
.checkboxLabelForm--simple {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 1.6rem; // for iOS
    line-height: 1.4;
    vertical-align: middle;

    // IE用
    @media all and (-ms-high-contrast:none) {
        font-family: Meiryo, sans-serif;
    }

    &::before {
        @include trans(opacity);
        content: '';
        opacity: 0;
        display: block;
        position: absolute;
        top: 50%;
        box-sizing: border-box;
    }

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        display: block;
        width: 18px;
        height: 18px;
        margin-top: -10px;
        border: 1px solid #666;
        border-radius: 2px;
        box-sizing: border-box;
    }

    .subLabelForm {
        display: block;
        color: #999;
    }
}

.radioLabelForm,
.checkboxLabelForm {
    @include trans(background-color, border);
    padding: 10px 12px 10px 38px;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #ccc;

    &::after {
        left: 13px;
    }
}

.radioLabelForm--simple,
.checkboxLabelForm--simple {
    padding-left: 25px;

    &::after {
        left: 0;
    }
}

.radioLabelForm,
.radioLabelForm--simple {
    &::before {
        top: 50%;
        margin-top: -6px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: $colorMain;
    }

    &::after {
        border-radius: 50%;
    }
}

.radioLabelForm {
    &::before {
        left: 17px;
    }
}

.radioLabelForm--simple {
    &::before {
        left: 4px;
    }
}

.checkboxLabelForm,
.checkboxLabelForm--simple {
    &::before {
        top: 50%;
        margin-top: -8px;
        width: 6px;
        height: 12px;
        border-right: 3px solid $colorMain;
        border-bottom: 3px solid $colorMain;
        transform: rotate(45deg);
    }
}

.checkboxLabelForm {
    &::before {
        left: 19px;
    }
}

.checkboxLabelForm--simple {
    &::before {
        left: 6px;
    }
}

.radioForm:focus + .radioLabelForm,
.checkboxForm:focus + .checkboxLabelForm,
.radioLabelForm:hover,
.checkboxLabelForm:hover {
    border: 1px solid $colorMain;
}

.radioForm:checked + .radioLabelForm {
    border-color: $colorMain;
    background-color: #D8ECFF;
}

.radioForm:checked + .radioLabelForm::before,
.radioForm:checked + .radioLabelForm--simple::before {
    opacity: 1;
}

.checkboxForm:checked + .checkboxLabelForm {
    border-color: $colorMain;
    background-color: #D8ECFF;
}

.checkboxForm:checked + .checkboxLabelForm:before,
.checkboxForm:checked + .checkboxLabelForm--simple:before {
    opacity: 1;
}

// 既存のlabelで囲ったラジオボタン
.labelForm {
    margin-right: 10px;
}

.labelRadioForm {
    @include trans(background);
    border-radius: 50%;
    appearance: none;
    background-color: #fff;
    border: 1px solid #666;
    padding: 0;
    width: 18px;
    height: 18px;
    margin: -1px 6px 0 0;
    outline: 0;
    box-shadow: inset 0 0 0 4px #fff;
    font-feature-settings: "palt";
    font-size: 1.6rem; // for iOS
    &:checked {
        background-color: $colorMain;
        border: none;
        box-shadow: inset 0 0 0 1px #666, inset 0 0 0 4px #fff;
    }
}

.textareaForm {
    width: 100%;
    padding: 12px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 1.6rem; // for iOS
    font-weight: normal;
    outline: none;
}
