//=============================================================
//
//  画像アイコン
//
//=============================================================
.imgico {
    display: inline-block;
    background: url(../img/common/icons.png?date=200124) 0 0 no-repeat;
    line-height: 0;
    vertical-align: middle;

    .ie7 & {
        display: inline;
        zoom: 1;
    }

    &_medal {
        width: 16px;
        height: 23px;
        background-position: 0 0;
    }

    &_marker-gray {
        width: 7px;
        height: 4px;
        background-position: 0 -60px;
    }

    &_marker-blue {
        width: 7px;
        height: 4px;
        background-position: -10px -60px;
    }

    &_xserver {
        width: 16px;
        height: 16px;
        background-position: 0 -30px;
    }

    &_sixcore {
        width: 16px;
        height: 16px;
        background-position: -20px -30px;
    }

    &_xdomain {
        width: 16px;
        height: 16px;
        background-position: -40px -30px;
    }

    &_wpx {
        width: 16px;
        height: 16px;
        background-position: -60px -30px;
    }

    &_drivee {
        width: 16px;
        height: 16px;
        background-position: -80px -30px;
    }

    &_xbiz {
        width: 16px;
        height: 16px;
        background-position: -100px -30px;
    }

    &_xdrive {
        width: 16px;
        height: 16px;
        background-position: -120px -30px;
    }

    &_nextshop {
        width: 16px;
        height: 16px;
        background-position: -140px -30px;
    }

    &_seveneleven {
        width: 36px;
        height: 35px;
        background-position: 0 -80px;
    }

    &_lawson {
        width: 36px;
        height: 35px;
        background-position: -40px -80px;
    }

    &_familymart {
        width: 36px;
        height: 35px;
        background-position: -80px -80px;
    }

    &_dailyyamazaki {
        width: 36px;
        height: 35px;
        background-position: -120px -80px;
    }

    &_ministop {
        width: 36px;
        height: 35px;
        background-position: -160px -80px;
    }

    &_seicomart {
        width: 36px;
        height: 35px;
        background-position: -200px -80px;
    }

    &_circlek {
        width: 36px;
        height: 35px;
        background-position: -240px -80px;
    }

    &_2way {
        width: 39px;
        height: 39px;
        background-position: 0 -120px;
    }

    &_transfer-server {
        width: 35px;
        height: 25px;
        background-position: 0 -160px;
    }

    &_transfer-domain {
        width: 29px;
        height: 25px;
        background-position: -40px -160px;
    }

    &_transfer-domain {
        width: 29px;
        height: 25px;
        background-position: -40px -160px;
    }

    &_circle-double {
        width: 26px;
        height: 26px;
        background-position: -50px 0;
    }

    &_circle {
        width: 26px;
        height: 26px;
        background-position: -20px 0;
    }

    &_circle-mini_orange {
        width: 11px;
        height: 11px;
        background-position: -80px 0;
    }

    &_question {
        width: 17px;
        height: 17px;
        background-position: -100px 0;
    }
}
