//=============================================================
//
//  ボタンなどテキストの画像化
//
//=============================================================
@include mediaQueryL {
    .label {
        display: inline-block;
        overflow: hidden;
        margin: 0;
        padding: 0;
        background: transparent url(../img/common/labels.png) no-repeat;
        vertical-align: middle;
        text-indent: 100%;
        white-space: nowrap;

        &_ttl-trial {
            width: 144px;
            height: 16px;
            background-position: 0 0;
        }

        &_ttl-trial-blue {
            width: 144px;
            height: 16px;
            background-position: -150px 0;
        }

        &_ttl-help-phone {
            width: 154px;
            height: 14px;
            background-position: 0 -20px;
        }

        &_ttl-help-phone-top {
           	width: 169px;
            height: 14px;
            background-position: 0 -964px;
        }

        &_ttl-help-phone-large {
            width: 176px;
            height: 16px;
            background-position: -160px -20px;
        }
		
		&_ttl-help-email-top{
            width: 142px;
			height: 17px;
			background-position: -160px -120px;
        }

        &_ttl-help-email-large {
            width: 169px;
            height: 16px;
            background-position: -160px -88px;
        }

        &_ttl-help-contents {
            width: 119px;
            height: 14px;
            background-position: 0 -40px;
        }

        &_ttl-help-contents-large {
            width: 136px;
            height: 16px;
            background-position: -160px -40px;
        }

        &_ttl-affiliate {
            width: 108px;
            height: 37px;
            background-position: 0 -70px;
        }

        &_ttl-transfer {
            width: 147px;
            height: 35px;
            background-position: 0 -120px;
        }

        &_btn-apply {
            width: 140px;
            height: 20px;
            background-position: 0 -162px;
        }

        &_btn-apply-sub {
            width: 226px;
            height: 28px;
            background-position: 0 -899px;
        }

        &_btn-help-contents-email{
            width: 115px;
            height: 15px;
            background-position: 0 -792px;
        }
		
		&_btn-help-contents-email-top{
            width: 115px;
            height: 15px;
            background-position: 0 -792px;
        }

        &_btn-faq {
            width: 74px;
            height: 13px;
            background-position: 0 -190px;
        }

        &_btn-faq-large {
            width: 80px;
            height: 14px;
            background-position: -80px -190px;
        }

        &_btn-manual {
            width: 63px;
            height: 13px;
            background-position: 0 -210px;
        }

        &_btn-manual-large {
            width: 67px;
            height: 14px;
            background-position: -80px -210px;
        }

        &_btn-affiliate {
            width: 112px;
            height: 13px;
            background-position: 0 -230px;
        }

        &_text-affiliate {
            width: 194px;
            height: 12px;
            background-position: 0 -250px;
        }

        &_btn-transfer-server {
            width: 161px;
            height: 22px;
            background-position: 0 -270px;
        }

        &_btn-transfer-domain {
            width: 161px;
            height: 22px;
            background-position: 0 -300px;
        }

        &_ttl-feature {
            width: 69px;
            height: 21px;
            background-position: 0 -330px;
        }

        &_ttl-functions {
            width: 69px;
            height: 21px;
            background-position: 0 -360px;
        }

        &_ttl-price {
            width: 69px;
            height: 21px;
            background-position: 0 -390px;
        }

        &_ttl-order {
            width: 122px;
            height: 21px;
            background-position: 0 -420px;
        }

        &_ttl-order-form {
            width: 160px;
            height: 16px;
            background-position: 0 -748px;
        }

        &_ttl-manual {
            width: 119px;
            height: 21px;
            background-position: 0 -450px;
        }

        &_ttl-support {
            width: 101px;
            height: 21px;
            background-position: 0 -480px;
        }

        &_ttl-login {
            width: 102px;
            height: 21px;
            background-position: 0 -510px;
        }

        &_ttl-rule {
            width: 106px;
            height: 21px;
            background-position: 0 -540px;
        }

        &_ttl-privacy {
            width: 176px;
            height: 21px;
            background-position: 0 -570px;
        }

        &_ttl-privacyannouncement {
            width: 216px;
            height: 21px;
            background-position: 0 -930px;
        }

        &_ttl-sitepolicy {
            width: 216px;
            height: 21px;
            background-position: 0 -840px;
        }

        &_ttl-orderprivacy {
            width: 210px;
            height: 21px;
            background-position: 0 -869px;
        }

        &_ttl-sitemap {
            width: 103px;
            height: 21px;
            background-position: 0 -600px;
        }

        &_ttl-company {
            width: 76px;
            height: 21px;
            background-position: 0 -630px;
        }

        &_ttl-opinion {
            width: 407px;
            height: 21px;
            background-position: 0 -660px;
        }

        &_ttl-notfound {
            width: 136px;
            height: 21px;
            background-position: 0 -690px;
        }

        &_sticker {
            width: 77px;
            height: 13px;
            background-position: 0 -770px;
        }

        &_ttl-friend {
            width: 186px;
            height: 21px;
            background-position: 0 -990px;
        }
    }
}
