//=============================================================
//
//  リンク
//
//=============================================================
.link {
    display: inline-block;

    .ico {
        margin: 0 5px;
        color: $colorMain;
    }

    .note & {
        text-indent: 0;
    }
}