//=============================================================
//
//  リスト
//
//=============================================================

//-------------------------------------------------------------
//  リスト(デフォルトスタイル)
//-------------------------------------------------------------
.ul {
    margin: 0 0 1em 1.5em;
    list-style: disc outside;

    &_margin > li {
        margin-bottom: 1em;
    }
}

.ol {
    margin: 0 0 1em 2em;
    list-style: decimal outside;

    &_lower-roman {
        list-style-type: lower-roman;
    }

    &_margin > li {
        margin-bottom: 1em;
    }
}

//-------------------------------------------------------------
//  リスト(アイコン付き)
//-------------------------------------------------------------
.list {
    margin: 0 0 1em 1.5em;

    li {
        position : relative;

        &::after {
            content: '';
            position: absolute;
            top: .5em;
            left: -1.1em;
            display: block;
        }

        li {
            margin : 0 0 0 13px;
        }
    }

    &_margin {
        > li {
            margin-bottom: 1em;
        }
    }

    &_arrow-down {
        li:after {
            top: .6em;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid $colorMain;
        }
    }

    &_arrow-up {
        li:after {
            top: .6em;
            width: 0;
            height: 0;
            border-bottom: 5px solid $colorMain;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
        }
    }

    &_arrow-right {
        li:after {
            top: .6em;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid $colorMain;
            -webkit-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            -o-transform: rotate(-90deg);
            transform: rotate(-90deg);
        }
    }

    &_chevron-down {
        li:after {
            top: .4em;
            width: 6px;
            height: 6px;
            border-bottom: 1px solid $colorMain;
            border-right: 1px solid $colorMain;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }

    &_chevron-up {
        li:after {
            top: .6em;
            width: 6px;
            height: 6px;
            border-bottom: 1px solid $colorMain;
            border-right: 1px solid $colorMain;
            -webkit-transform: rotate(-135deg);
            -moz-transform: rotate(-135deg);
            -ms-transform: rotate(-135deg);
            -o-transform: rotate(-135deg);
            transform: rotate(-135deg);
        }
    }

    &_chevron-right {
        li:after {
            width: 6px;
            height: 6px;
            border-bottom: 1px solid $colorMain;
            border-right: 1px solid $colorMain;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
    }

    &_circle {
        li:after {
            width: 5px;
            height: 5px;
            background-color: #fff;
            border: 1px solid $colorMain;
            border-radius: 100%;
        }
    }

    &_check {
        li:after {
            width: 8px;
            height: 3px;
            border-bottom: 2px solid $colorMain;
            border-left: 2px solid $colorMain;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
    }
}

//-------------------------------------------------------------
//  定義・説明
//-------------------------------------------------------------
.dl {
    margin: 0 0 1em;
    padding: 20px;
    background: #fff;
    border: 1px solid #ccc;

    dt {
        margin: 0 0 10px;
        padding: 5px 8px;
        background: #eee;
        font-weight: bold;
    }

    dd {
        margin: 0 0 25px;
        padding: 0 0 0 1em;

        &:last-child {
            margin: 0;
        }

        > :last-child {
            margin-bottom: 0;
        }

        @include mediaQueryS {
            padding: 0;
        }
    }
}
