//=============================================================
//
//  メッセージ
//
//=============================================================
.msg {
    margin: 0 0 20px;
    padding: 20px;
    background: #f8f8f8;
    border: 1px solid #ddd;
    border-radius:3px;
    @include mediaQueryML {
        padding: 25px;
    }

    > :last-child {
        margin-bottom: 0;
    }

    .btn {
        margin: 0 5px 5px 0;
    }

    // 通知
    &_notice {
        background: #fbf8ea;
        border-color: #e7e3d3;

        .msg_ttl {
            color: #eca700;
        }
    }

    // 注意
    &_caution {
        background: #fbeded;
        border-color: #ebd5d5;

        .msg_ttl {
            color: #bf1517;
        }
    }

    // タイトル
    &_ttl {
        display: flex;
        margin: 0 0 10px;
        color: #69b000;
        font-size: 1.6rem;
        font-weight: bold;

        .ico {
            flex-shrink: 0;
            margin: 0 5px 0 0;
            font-size: 1.8rem;
            @media all and (-ms-high-contrast:none) {
                margin-top: 0.15em;
            }
        }
    }

    // 内容
    &_body {
        > :last-child {
            margin-bottom: 0;
        }
        &_cp {
            font-size: 14px;
            @include mediaQueryS {
                font-size: 12px;
            }
        }
    }
}