//=============================================================
//
//  注釈
//
//=============================================================
.note {
    margin-left: 1em;
    text-indent: -1em;

    &_x2,
    &_x3 {
        margin-left: 1em;
        text-indent: -1em;
    }

    &_x2 {
        margin-left: 1em;
        text-indent: -1em;
    }

    &_x3 {
        margin-left: 3em;
        text-indent: -3em;
    }
}

.note-list {
    > li {
        margin-left: 1em;
        text-indent: -1em;
    }

    &_x2 > li,
    &_x3 > li {
        margin-left: 1em;
        text-indent: -1em;
    }

    &_x2 > li {
        margin-left: 2em;
        text-indent: -2em;
    }

    &_x3 > li {
        margin-left: 3em;
        text-indent: -3em;
    }

    &_margin > li {
        margin-bottom: 10px;
    }

    &_margin > li:last-child {
        margin-bottom: 0;
    }
}