//=============================================================
//
//  最も大きなセクション(h2相当)
//
//=============================================================
.topic-path+.section {
    margin-top: 30px;
}
.section {
    margin: 0 0 60px;

    @include mediaQueryL {
        margin: 0 0 80px;
    }

    &:last-child {
        margin : 0;
    }

    // タイトル
    &_ttl {
        @include fz-rwd(26);
        position: relative;
        background:#f8f8f8;
        font-weight:500;
        padding:15px;
        padding-left:20px;
        margin:0 0 25px;
        font-feature-settings: "palt";
        &::before {
            content: "";
            position: absolute;
            left:0;
            top:50%;
            margin-top:-12.5px;
            display: block;
            width: 8px;
            height: 25px;
            background: #286ed3;
        }

        &_border {
            @include fz-rwd(26);
            margin: 0 0 30px;
            padding: 0 0 11px;
            border-bottom: 1px solid #113d6b;
            font-weight: bold;
            font-feature-settings: "palt";
        }
    }

    // 内容
    &_body {
        margin-bottom: 40px;

        &:last-child {
            margin-bottom: 0;
        }

        > :last-child {
            margin-bottom : 0;
        }

        @include mediaQueryS {
            padding : 0;
        }
    }

    // フッター
    &_footer {
        padding: 20px 0 0;
        border-top: 1px dotted #ccc;
    }
}