//=============================================================
//
//  サブタイトル（主にマニュアルで使用）
//
//=============================================================

.sub-ttl {
    position:relative;
    display:table;
    margin: -0.25em 0 40px;
    padding-bottom: 15px;
    font-size: 2.2rem;
    font-weight:500;
    @include mediaQueryM {
        font-size: 2.4rem;
    }
    @include mediaQueryL {
        margin-bottom: 50px;
        padding-bottom: 20px;
        font-size: 3.2rem;
    }

    &:after {
        content:"";
        display:block;
        position:absolute;
        left:0;
        bottom: 0;
        width:100%;
        height:5px;
        background-image: linear-gradient( 90deg, rgb(82,200,222) 0%, rgb(25,94,196) 100%);
    }
}