//=============================================================
//
//  ツールチップ
//
//=============================================================
.tooltip {
    display: inline-block;

    &_target {
        display: inline-block;
        cursor: pointer;
    }

    &_content {
        display: none;
    }

    &_balloon {
        text-align: left;
        color: #222;
        background: #f8f8f8;
        border: 1px solid #ddd;
        border-radius:3px;
        position: absolute;
        z-index: 100000;
        padding: 10px;
        font-size: 12px;
        max-width: 480px;

        &::before {
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid #ddd;
            content: '';
            position: absolute;
            left: 50%;
            bottom: -11px;
            margin-left: -10px;
        }

        &::after {
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid #f8f8f8;
            content: '';
            position: absolute;
            left: 50%;
            bottom: -10px;
            margin-left: -10px;
        }

        &.top {
            &::before {
                border-top-color: transparent;
                border-bottom: 10px solid #ddd;
                top: -21px;
                bottom: auto;
            }

            &::after {
                border-top-color: transparent;
                border-bottom: 10px solid #f8f8f8;
                top: -20px;
                bottom: auto;
            }
        }

        &.left {
            &::before {
                left: 10px;
                margin: 0;
            }

            &::after {
                left: 10px;
                margin: 0;
            }

            .tooltip_balloon_bottom {
                left: 20px;
            }

            .tooltip_balloon_btn {
                left: 20px;
            }
        }

        &.right {
            &::before {
                right: 10px;
                left: auto;
                margin: 0;
            }

            &::after {
                right: 10px;
                left: auto;
                margin: 0;
            }

            .tooltip_balloon_bottom {
                right: 20px;
            }

            .tooltip_balloon_btn {
                right: 20px;
            }
        }

        &_bottom {
            position: absolute;
            width: 60px;
            height: 30px;
            left: 50%;
            bottom: -30px;
            background: #f8f8f8;
            opacity: 0;
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            transform: translateX(-50%);
        }

        &_btn {
            position: absolute;
            width: 20px;
            height: 20px;
            left: 50%;
            bottom: -30px;
            background: #f8f8f8;
            opacity: 0;
            cursor: pointer;
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            transform: translateX(-50%);
        }
    }
}