//=============================================================
//
//  パンくずリスト
//
//=============================================================

.topic-path {
    margin: 15px 0 30px 0;
    font-size: 1.2rem;
    color:#777;
    .ico_circle {
        display: none;
    }
    ol {
        li {
            display: inline-block;
            .ico {
                margin: 0 5px;
                color: #a7a7a7;
            }
            a {
                text-decoration: underline;
                color:#777;
                &:hover {
                    color: $colorSub;
                    text-decoration: none;
                }
            }
            span {
                &.is-current {
                    background: none;
                }
            }
        }
    }
}
