@charset "euc-jp";

// ▼ 変数、ミックスインなどSass用定義
@import 'variable';
@import 'mixin';
// ▼ 単機能の汎用的なクラス（.cf、.mb10など）
@import 'utility';
// ▼ 基本設定（リセットなど）
@import 'base';

// -------------------------------------------------------------
//   ボタン
// -------------------------------------------------------------
a:link,a:visited {
    text-decoration: none;
}
a.btn {
    text-decoration: none;
}
.btn {
    display:inline-block;
    border:1px solid #1c5e9c;
    border-radius:3px;
    background:#fff;
    color:#1c5e9c;
    font-size:15px;
    font-weight:bold;
    text-align:center;
    padding:10px;
    box-shadow: 1px 0 3px rgba(0,0,0,.3);
    min-width:250px;
    &:hover {
        background:#f5f9ff;
        color:#1c5e9c;
    }
}

// -------------------------------------------------------------
//   リスト
// -------------------------------------------------------------
.ul {
    list-style: disc;
    margin-bottom: 1rem;
    padding-left: 3rem;
}

// -------------------------------------------------------------
//   注釈
// -------------------------------------------------------------
.note {
    text-indent: -1em;
    padding-left: 1em;
    font-size: 1.2rem;
}


// -------------------------------------------------------------
//   幅固定枠
// -------------------------------------------------------------
.holder {
    width: $widthPC;
    margin-left: auto;
    margin-right: auto;

    @include mediaQuerySM {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding-left: 10px;
        padding-right: 10px;
    }
}

// -------------------------------------------------------------
//   ヘッダー
// -------------------------------------------------------------
.header {
    text-align: center;
}

.header__logoArea {
    padding: 20px 0;
    background: #fff;

    @include mediaQueryS {
        padding: 10px 0;
    }

    @include mediaQueryM {
        padding: 15px 0;
    }

    img {
        width: 150px;

        @include mediaQueryS {
            width: 100px;
        }

        @include mediaQueryM {
            width: 120px;
        }
    }
}

.header__ttlArea {
    padding: 5.5rem 0;
    background: -moz-linear-gradient(top, #1c62a5, #286fb3);
    background: -webkit-linear-gradient(top, #1c62a5, #286fb3);
    background: linear-gradient(to bottom, #1c62a5, #286fb3);
    color: #fff;

    @include mediaQueryS {
        padding: 3rem 0;
    }

    @include mediaQueryM {
        padding: 4rem 0;
    }

    h1 {
        margin:0;
        font-size: 38px;

        @include mediaQuerySM {
            margin-bottom: 10px;
            font-size: 2rem;
        }
    }
}
.headerColumns {
    display:flex;
    justify-content: space-between;
    align-items: center;

    @include mediaQuerySM {
        flex-direction: column;
        img {
            max-width:100%;
            width:100%;
            height:auto;
        }
    }
}

// -------------------------------------------------------------
//   フッター
// -------------------------------------------------------------
.footer {
    padding: 3rem 0;
    background: #333;
    text-align: center;
    color: #fff;
    font-size: 1.4rem;

    @include mediaQueryS {
        padding: 1.5rem 0;
    }

    @include mediaQueryM {
        padding: 2rem 0;
    }

    p {
        margin: 0;
    }
}

// -------------------------------------------------------------
//   先頭に戻るボタン
// -------------------------------------------------------------
.pageTopBtn {
    position: fixed;
    bottom: -65px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    transition: bottom ease-out .2s;
}

// -------------------------------------------------------------
//   イントロダクション
// -------------------------------------------------------------
.intro {
    padding: 3rem 0 4rem;
    background: #fff;

    @include mediaQuerySM {
        padding: 2rem 0 3rem;
        text-align: left;
    }
}

.intro__text {
    margin-bottom: 3rem;

    @include mediaQuerySM {
        margin-bottom: 2rem;
    }
}

.intro__toc {
    display: flex;
    align-items: center;
    width: 650px;
    margin: 0 auto;
    padding: 3rem 0;
    background: #fff;
    border: 1px solid $colorMain;
    border-radius: 6px;

    @include mediaQueryS {
        display: block;
        width: 100%;
        padding: 1.5rem 2rem;
    }

    h2 {
        padding: 0 40px;
        text-align: center;

        @include mediaQueryS {
            margin-bottom: 1rem;
            padding: 0 0 1rem;
            border-bottom: 1px solid #ccc;
        }
    }

    ol {
        padding: 0 30px 0 40px;
        border-left: 1px solid #ccc;
        text-align: left;
        list-style: decimal;

        @include mediaQueryS {
            padding: 0;
            border: none;
        }

        li {
            margin-bottom: 1rem;
            margin-left: 2rem;
            font-size: 1.4rem;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

// -------------------------------------------------------------
//   セクション
// -------------------------------------------------------------
.section {
    padding: 4rem 0 7rem;

    @include mediaQueryS {
        padding: 3rem 0 4rem;
    }

    @include mediaQueryM {
        padding-bottom: 5rem;
    }
}

.section--colored {
    background: #eaeff3;
}

.section__ttl {
    margin-bottom: 3rem;
    text-align: center;
    font-size: 2.8rem;
    font-weight: bold;

    @include mediaQueryS {
        font-size: 2rem;
        margin-bottom: 2.5rem;
    }
}
.section__sttl {
    margin-bottom: 2.5rem;
    font-size: 2.8rem;
    font-weight: bold;
    background:#fff;
    border-left:10px solid #1b5fa6;
    padding:18px;
}
.section__description {
    margin-bottom: 4rem;
    line-height:1.8;

    @include mediaQueryS {
        text-align: left;
        margin-bottom: 3rem;
    }
}

.section__body {
    &:last-child {
        margin-bottom: 0;
    }
}
.unitImage {
    text-align:center;
    &__inner {
        background:#fff;
        padding:60px;
        display:inline-block;
        min-width:430px;
    }
    @include mediaQuerySM {
        img {
            max-width:100%;
            width:100%;
            height:auto;
        }
        &__inner {
            padding:30px;
            min-width:300px;
        }
    }
}

.ico {
    display:inline-block;
    //margin-left:10px;
    position:relative;
    &:after {
        content:"";
        display:block;
        background-position:0 0;
        background-repeat:no-repeat;
    }
    &__download {
        top:2px;
        &:after {
            width:11px;
            height:13px;
            background-image:url(../img/ico_download.png);
        }
    }
}
.downloadList {
    display:flex;
    justify-content: center;
    margin:0 auto;
    &>li {
        margin:0 25px;
    }
    @include mediaQuerySM {
        flex-direction: column;
        &>li {
            margin:10px auto 0;
        }
    }
}

.exampleList {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    width:1040px;
    margin:0 auto;
    margin-top:-40px;
    &>li {
        width:30%;
        max-width:313px;
        margin:40px 0 0;
    }

    &__text {
        font-size:14px;
        font-weight:bold;
        margin:3px 0 0;
    }

    @include mediaQuerySM {
        display:flex;
        width:90%;
        padding-left: 10px;
        padding-right: 10px;
        &>li {
            width:auto;
        }
        &__image {
            img {
                width:100%;
                height:auto;
            }
        }
    }
}
.serviceColor {
    margin:40px 0 0;
}
.colorSet {
    display:flex;
    flex-wrap:wrap;
    &>* {
        margin:0 0 0 25px;
        &:first-child {
            margin-left:0;
        }
    }
    @include mediaQueryS {
        flex-direction: column;
        &>* {
            margin:25px 0 0 0;
            &:first-child {
                margin-top:0;
            }
        }
    }
}
.colorUnit {
    position: relative;
    color:#fff;
    display:flex;
    width:300px;
    &> .colorUnit__col {
        width:50%;
    }
    &__caption {
        position:absolute;
        top:30px;
        left:20px;
    }
    &__col {
        padding:40px 20px;
        font-size:12px;
        font-weight:bold;
        padding-top:70px;
        background:#000;
        &.xoficial {background: #1b5fa6;}
        &.xserver {background: #1b5fa6;}
        &.xbiz {background: #113d6b;}
        &.xvps {background: #148dce;}
        &.xdomain {background: #1c5e9c;}
        &.xssl {background: #1c5e9c;}
        &.xshop {background: #00a1b7;}
        &.xdrive {background: #4a67a8;}
        &.w100 {
            width:100%;
        }
    }
}

#policy {
    .policy {
        &__ttl--secondary {
            font-weight: bold;
            font-size: 1.4em;
        }
        &__section {
            margin-bottom: 2em;
        }
    }

    .list {
        margin-left: 1em;

        li {
            margin-left: 1em;
            list-style-type: decimal;
        }
    }
    .inquiry {
        background: #eee;
        padding: 1.2em;
    }
}
