@charset "euc-jp";

/* Clearfix */
.xhCf:before, .xhCf:after {
    content: " ";
    display: table;
}
.xhCf:after { clear: both; }
.xhCf { *zoom: 1; }


/* ----------------------------------------------------------
    ボックス
------------------------------------------------------------- */
.xHeader {
    color: #222;
    font: 12px/1.6 Helvetica, Arial, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "游ゴシック", YuGothic, sans-serif;
    -moz-font-feature-settings: "pkna";
    -webkit-font-feature-settings: "pkna";
    font-feature-settings: "pkna";
    letter-spacing: .03em;
    word-wrap: break-word;
    -webkit-text-size-adjust: 100%;
    background: #fff url(bg_gray.png) 0 100% repeat-x;
    min-width: 960px;
    position: relative;
    z-index: 99;
}

.xHeader__center {
    width:1010px;
    margin:0 auto;
}

/* SP + Tab */
@media only screen and (min-width: 0) and (max-width: 1100px) {
    .xHeader {
        display: none;
    }
}

.xHeader a {
    color: #222;
}
.xHeader a:link,
.xHeader a:visited,
.xHeader a:hover,
.xHeader a:active { text-decoration: none; }

.xHeader__left {
    float: left;
}

.xHeader__right {
    float: right;
}

/* ----------------------------------------------------------
    サービスリンク
------------------------------------------------------------- */
.xhMainLink {
    float: left;
    background: url(line_gray.png) 0 50% no-repeat;
    margin-left:-2px;
}

.xhMainLink__item {
    display: inline-block;
    background: url(line_gray.png) 100% 50% no-repeat;
}

.xhMainLink__itemInner {
    display: block;
    width: 190px;
    height: 40px;
    border-bottom: 3px solid #e1e1e1;
    line-height: 40px;
    text-align: center;
    transition: border-color .2s ease-out;
}

a:hover.xhMainLink__itemInner--xserver,
.xhMainLink__itemInner--xserver.is-current {
    border-color: #1f65a8;
}

a:hover.xhMainLink__itemInner--xbiz,
.xhMainLink__itemInner--xbiz.is-current {
    border-color: #113d6b;
}

a:hover.xhMainLink__itemInner--xdomain,
.xhMainLink__itemInner--xdomain.is-current {
    border-color: #2967a2;
}

a:hover.xhMainLink__itemInner--xdrive,
.xhMainLink__itemInner--xdrive.is-current {
    border-color: #4a67a8;
}

a:hover.xhMainLink__itemInner--xssl,
.xhMainLink__itemInner--xssl.is-current {
    border-color: #1c5e9c;
}

a:hover.xhMainLink__itemInner--xvps,
.xhMainLink__itemInner--xvps.is-current {
    border-color: #148dce;
}

a:hover.xhMainLink__itemInner--xgame,
.xhMainLink__itemInner--xgame.is-current {
    border-color: #9642d6;
}

.xhMainLink__itemInner--xserver.is-current,
.xhMainLink__itemInner--xbiz.is-current,
.xhMainLink__itemInner--xdomain.is-current,
.xhMainLink__itemInner--xdrive.is-current,
.xhMainLink__itemInner--xssl.is-current,
.xhMainLink__itemInner--xvps.is-current,
.xhMainLink__itemInner--xgame.is-current {
    font-weight: bold;
    color: #113d6b;
}
.xhMainLink__itemLabel {
    display: inline-block;
    padding: 0 0 0 24px;
    height: 40px;
    line-height: 40px;
}

.xhMainLink__itemLabel--xserver {
    background: url(ico_rentalserver.png) 0 50% no-repeat;
}

.xhMainLink__itemLabel--xbiz {
    background: url(ico_shield.png) 0 50% no-repeat;
}

.xhMainLink__itemLabel--xdomain {
    background: url(ico_globe.png) 0 50% no-repeat;
}

.xhMainLink__itemLabel--xdrive {
    background: url(ico_storage.png) 0 50% no-repeat;
}
.xhMainLink__itemLabel--xssl {
    background: url(ico_ssl.png) 0 50% no-repeat;
}
.xhMainLink__itemLabel--xvps {
    background: url(ico_vps.png) 0 50% no-repeat;
}
.xhMainLink__itemLabel--xgame {
    background: url(ico_game.png) 0 50% no-repeat;
}


.servicedropDownMenu__btn {
    display: inline-block;
    height: 14px;
    padding: 3px 10px;
    line-height: 0.5;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    position: relative;
    font-weight: bold;
}

.servicedropDownMenu__btn > a {
    font-size:16px;
}

.servicedropDownMenu__list {
    margin: 0;
    padding: 0;
    width: 180px;
    list-style-type: none;
    display: none;
    position: absolute;
    z-index: 999999;
    top: -15px;
    right: -20px;
    padding: 40px 20px 20px;
}
.servicedropDownMenu__list li:nth-child(1) {
    border: 1px solid #ccc;
    background: #fff;
    font-weight: normal;
}

.servicedropDownMenu__list li {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #fff;
    font-weight: normal;
    box-shadow:5px 5px 10px rgba(34,34,34,.1);
}

.servicedropDownMenu__list li a {
    display: block;
    padding-left: 5px;
    width: 173px;
    height: 38px;
    line-height: 38px;
    background: #fff;
    font-weight: normal;
}

.servicedropDownMenu__btn:hover {
    cursor: pointer;
}

.servicedropDownMenu__btn:hover .servicedropDownMenu__list {
    display: table;
}