@charset "euc-jp";

/*共通*/
body{
    color: #3b4263;
}
a{
    transition : .6s;
    &:hover{
        opacity: .6;
    }
}
.blue{
    color: #286ed3;
}
main{
    overflow: hidden;
}
.cp_holder {
    max-width: 960px;
    width: 92%;
    margin: 0 auto;
}
.cp_holder2 {
    max-width: 680px;
    width: 92%;
    margin: 0 auto;
}
.cp_ttl {
    text-align: center;
    @media only screen and (min-width: 768px) {
        img {
            max-width: 92%;
        }
    }
}
.cp_inner {
    margin: 0 auto;
    text-align: center;
    position: relative;
    border-radius: 4px;
    box-shadow: 0px 8px 13.44px 2.56px rgba(0, 15, 70, 0.08);
}
.overview {
    margin: 80px auto 0;
    padding-bottom: 80px;
    .holder-sml {
        max-width:680px;
    }
    &_ttl {
        font-weight: bold;
        font-size: 16px;
        line-height: 1.3;
        padding-left:20px;
        position:relative;
        &:before {
            content:"";
            display:block;
            width:6px;
            height:24px;
            border-radius: 1px;
            background:#1B5FA6;
            position: absolute;
            left:0;
            top:-.1em;
            @media only screen and (max-width: 767px) {
                transform:translateY(-50%);
                height:80%;
                top:50%;
            }
        }
    }
    &_table {
        margin-top: 32px;
        font-size: 14px;
        line-height: 1.4;
        tr {
            border-bottom:1px solid #ccc;
            &:last-child {
                border-bottom:none;
            }
        }
        th,td {
            padding:16px 0;
        }
        th {
            width: 190px;
            font-size: 14px;
        }
        .ol {
            margin-left: 1.3em;
        }
    }
    @media only screen and (max-width: 767px) {
        margin: 40px auto 0;
        padding-bottom: 40px;
        &_ttl {
            padding: 9px 4vw;
            font-size: 16px;
        }
        &_table {
            max-width: none;
            margin-top: 16px;
            tr {
                &:not(:last-child) {
                    padding-bottom: 16px;
                    margin-bottom: 16px;
                }
            }
            th,td {
                display: block;
                width: 100%;
            }
            th {
                padding-bottom: 5px;
                font-size: 12px;
            }
            td {
                padding-top:4px;
                font-size: 12px;
            }
        }
    }
}

/*ヘッダー*/
.header {
    background: #fff;
    border-bottom: 1px solid #ccc;
    &_body {
        padding: 20px 0 15px;
    }
    @media only screen and (max-width: 767px) {
        &_body {
            padding: 18px 0 0;
        }
    }
}
.logo {
    float: left;
    width: 205px;
    padding-left: 20px;
    a {
        display: block;
        width: 100%;
    }
    @media only screen and (max-width: 767px) {
        width: 130px;
        padding-bottom: 18px;
    }
}
.shared {
    float: right;
    &_toggle {
        position: absolute;
        top: 16px;
        right: 20px;
        display: block;
        width: 0;
        height: 30px;
        background: url("../img/btn_share.png") no-repeat left top / cover;
    }
    &_list {
        padding-top: 10px;
        li {
            display: inline-block;
            vertical-align: top;
        }
    }
    @media only screen and (max-width: 767px) {
        width: 100%;
        &_toggle {
            width: 30px;
        }
        &_list {
            display: none;
            &.is-open {
                padding: 20px;
                background: #f8f8f8;
            }
        }
    }
}

/*MV*/
.mv {
    text-align: center;
    position:relative;
    z-index:1;
    &_finish {
        display:flex;
        justify-content: center;
        align-items: center;
        width:100%;
        height:100%;
        position:absolute;
        top:0;
        left:0;
        z-index:8;
        background:rgba(0,0,0,.6);
        span {
            display:block;
            background:#fff;
            padding:30px;
            font-size:33px;
            font-weight:bold;
            line-height:1;
            @media only screen and (max-width: 1099px) {
                padding:3vw;
                font-size:3.2vw;
                position: relative;
            }
			@media only screen and (max-width: 767px) {
                font-size: 5vw;
			}
        }
    }
    &_inner {
        background: url(../img/mv_bg_l.png) no-repeat center top / cover;
        @media only screen and (max-width: 767px) {
            background: url(../img/mv_bg_s.png) no-repeat center top / cover;
        }
        position: relative;
        &::before,&::after {
            content: "";
            background: url(../img/mv_bg_left_l.png) no-repeat right top / auto 100%;
            width: 300px;
            height: 166px;
            position: absolute;
            bottom: 0;
            left: 0;
            @media only screen and (max-width: 767px) {
                background: url(../img/mv_bg_left_s.png) no-repeat right top / 100% auto;
                width: 150px;
                height:83px;
            }
        }
        &::after {
            background: url(../img/mv_bg_right_l.png) no-repeat left top / auto 100%;
            left:auto;
            right: 0;
            @media only screen and (max-width: 767px) {
                background: url(../img/mv_bg_right_s.png) no-repeat right top / 100% auto;
            }
        }
    }
    &_body {
        padding: 80px 0 52px;
        position: relative;
        z-index: 2;
        width: 92%;
        max-width: 960px;
        margin: 0 auto;
        @media only screen and (max-width: 767px) {
            padding: 80px 0;
        }
    }
    @media only screen and (max-width: 767px) {
        &_catch {
            margin: 0 auto;
            &::before{
                content: "";
                background: url(../img/mv_catch_ballon.png) no-repeat left top / cover;
                width: 21.334vw;
                height: 23.47vw;
                position: absolute;
                top: -14vw;
                right: -1.6vw;
            }
        }
    }
    &_period {
        background: #363e60;
        max-width: 840px;
        margin: 24px auto;
        box-sizing: border-box;
        padding: 15.2px 0;
        border-radius: 4px;
        font-weight: bold;
        color: #fff;
        font-size: 18px;
        line-height: 1.4;
        &_ttl{
            color: #c8c8c8;
        }
        b{
            font-size: 24px;
        }
        @media only screen and (max-width: 767px) {
            margin: 8px auto;
            max-width: 91.306%;
            font-size: 14px;
            padding: 8.4px 0;
            b{
                font-size: 14px;
            }
        }
    }
    &_cplist {
        margin-top: 60px;
        display: flex;
        justify-content: center;
        counter-reset: number 0;
        &_item {
            counter-increment: number 1;
            &:not(:last-child) {
                margin-right: 6px;
            }
            a {
                display: block;
                position: relative;
                &::before{
                    content: counter(number);
                    font-size: 32px;
                    font-weight: bold;
                    background: #FFF;
                    width: 48px;
                    line-height: 48px;
                    text-align: center;
                    border-radius: 4px;
                    color: #1166c9;
                    display: block;
                    position: absolute;
                    left: 9px;
                    top: 1px;
                    z-index: 1;
                    @media only screen and (max-width: 767px) {
                        font-size: 28px;
                        width: 40px;
                        line-height: 40px;
                    }
                }
                img{
                    max-width: 100%;
                }
            }
            &_num {
                position: absolute;
                top: -42px;
                left: -39px;
                z-index: 2;
            }
            &_txt {
                position: relative;
                z-index: 1;
            }
        }
        @media only screen and (max-width: 767px) {
            margin: 40px -2.31885% 0;
            flex-direction: column;
            width: 104.6377%;
            &_item {
                &:not(:last-child) {
                    margin-right: 0;
                    margin-bottom: -12px;
                }
            }
        }
    }
    &_servicecp {
        background-color: #363e60;
        padding: 24px 0;
		text-align: center;
        a {
            display: inline-block;
            max-width: 92%;
        }
    }
}

/*20周年記念*/
.anv{
    background: #eff3fb url(../img/anv_bg.svg) no-repeat right -16% bottom -24% / auto 72%;
    position: relative;
    z-index: 3;
    @media only screen and (max-width: 767px) {
        background: #eff3fb;
    }
    &::before {
        content: "";
        background: #FFF;
        width: 92%;
        height: 48px;
        position: absolute;
        top: -24px;
        left: 50%;
        box-shadow: 0px 8px 13.44px 2.56px rgba(0, 15, 70, 0.08);
        max-width: 1080px;
        transform: translateX(-50%);
        border-radius: 4px 4px 0 0;
        @media only screen and (max-width: 767px) {
            height: 64px;
        }
    }
    &_inner {
        background: #FFF;
        box-shadow: 0px 13px 13.44px 2.56px rgba(0, 15, 70, 0.08);
        border-radius: 0 0 4px 4px;
        padding: 48px 48px 128px;
        box-sizing: border-box;
        max-width: 1080px;
        width: 92%;
        margin: 0 auto;
        transform: translateY(24px);
        text-align: center;
        overflow: hidden;
        @media only screen and (max-width: 767px) {
            padding: 16px 24px 80px;
        }
    }
    &_ttl {
        font-size: 60px;
        color: #2f334c;
        font-feature-settings: "palt";
        letter-spacing: 0.064em;
        line-height: 1.2;
        position: relative;
        margin-bottom: 40px;
        padding-bottom: 40px;
        &::before {
            content: "";
            background: url(../img/anv_bg_ttl_top.svg) no-repeat left top / 100% auto;
            width: 80px;
            height: 58px;
            display: inline-block;
            @media only screen and (max-width: 767px) {
                width: 48px;
                height: 34px;
            }
        }
        &::after {
            content: "";
            background: url(../img/anv_bg_ttl_bottom.svg) no-repeat left top / 100% auto;
            width: 127px;
            height: 18px;
            display: inline-block;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
            @media only screen and (max-width: 767px) {
                width: 104px;
                height: 15px;
            }
        }
        .font-s{
            font-size: 52px !important;
            @media only screen and (max-width: 767px) {
                font-size: 20px !important;
            }
        }
        b{
            font-size: 80px !important;
            line-height: 1;
        }
        @media only screen and (max-width: 1008px) {
            font-size: 48px;
            .font-s{
                font-size: 40px !important;
            }
            b{
                font-size: 68px !important;
                line-height: 1;
            }
        }
        @media only screen and (max-width: 767px) {
            font-size: 28px;
            .font-s{
                font-size: 20px !important
            }
            b{
                font-size: 42px !important;
            }
        }
    }
    &_catch{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        @media only screen and (max-width: 767px) {
            margin: 2.4vw 0 0;
        }
        &::before {
            content: "";
            background: url(../img/anv_bg_ttl_left.svg) no-repeat left top / 100% auto;
            width: 64px;
            height: 174px;
            display: inline-block;
            margin-right: 24px;
            @media only screen and (max-width: 767px) {
                width: 35px;
                height: 95px;
                margin-right: 6.4vw;
            }
        }
        &::after {
            content: "";
            background: url(../img/anv_bg_ttl_right.svg) no-repeat left top / 100% auto;
            width: 64px;
            height: 174px;
            display: inline-block;
            margin-left: 24px;
            @media only screen and (max-width: 767px) {
                width: 35px;
                height: 95px;
                margin-left: 6.4vw;
            }
        }
        h2{
            position: relative;
            z-index: 2;
            @media only screen and (max-width: 767px) {
                line-height: 1.2;
            }
        }
        @media only screen and (max-width: 1008px) {
            &::before {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                opacity: .4;
            }
            &::after {
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                opacity: .4;
            }
        }
    }
    p{
        font-size: 20px;
        position: relative;
        @media only screen and (max-width: 767px) {
            font-size: 15px;
            text-align: left;
        }
        &:last-of-type{
            margin-bottom: 0;
            &::before{
                content: "2003-2023";
                font-size: 200px;
                font-weight: bold;
                color: #286ed3;
                opacity: 0.1;
                position: absolute;
                left: 50%;
                bottom: -0.8em;
                transform: translateX(-50%);
                z-index: -1;
                width: 6em;
                text-align: center;
                @media only screen and (max-width: 1200px) {
                    font-size: 16vw;
                    bottom: -1em;
                }
            }
        }
    }
    &_bnr{
        position: relative;
        margin-top: 64px;
        @media only screen and (max-width: 767px) {
            margin-top: 10.6667vw;
        }
    }
}

/*キャンペーン*/
.cpwrap {
    position: relative;
    background:url(../img/bg_cp1.png) no-repeat center top #f2f2f2;
    background-size:100% auto;
    &.cpwrap2{
        background: url(../img/cp2_bg_l.png) repeat-y center top / 100% auto;
        padding-bottom: 96px;
        @media only screen and (max-width: 767px) {
            padding-bottom: 17.0666vw;
        }
    }
}
.cp1,
.cp2{
    position: relative;
    z-index: 2;
    padding-top: 80px;
    @media only screen and (max-width: 767px) {
        padding-top: 40px;
    }
    &_inner {
        max-width:800px;
        margin:0 auto;
        padding:0 0 40px;
        @media only screen and (max-width: 768px) {
            padding:0 12px 40px;
        }
        @media only screen and (min-width: 768px) and (max-width: 999px) {
            padding:0 24px 40px;
        }

    }
    &_label {
        background:#000;
        color:#fff;
        font-size:20px;
        position:absolute;
        left:50%;
        transform:translate(-50%);
        top:-1em;
        text-align:center;
        padding:4px 20px;
        z-index:1;
        border-radius: 3px;
        @media only screen and (max-width: 767px) {
            font-size:16px;
            padding:4px 12px;
        }
    }
    &Header {
        position: relative;
    }
    &_balloon {
        max-width:670px;
        margin:0 auto 60px;
        background:#fff;
        padding:16px;
        font-size:24px;
        font-weight:bold;
        text-align:center;
        position: relative;
        @media only screen and (max-width: 767px) {
            font-size:14px;
            margin:0 auto 32px;
        }
        &:after {
            content:"";
            display:block;
            border:18px solid transparent;
            border-top-color:#fff;
            position: absolute;
            left:50%;
            transform:translate(-50%);
            bottom:-36px;
        }
    }
    &_caption {
        position:relative;
        text-align:center;
        margin:40px 0 24px;
        &:after {
            content:"";
            display:block;
            width:100%;
            height:1px;
            background:#ccc;
            position:absolute;
            left:0;
            top:50%;
            margin-top:-.5px;
        }
        span {
            background:#1B5FA6;
            font-weight:bold;
            color:#fff;
            padding:8px 16px;
            display:inline-block;
            position: relative;
            z-index:1;
            font-size:16px;
            border-radius:3px;
            @media only screen and (max-width: 767px) {
                font-size:14px;
            }
        }
    }
    &_subcaption {
        background:#1B5FA6;
        color:#fff;
        font-weight:bold;
        padding:8px;
        font-size:20px;
    }
    &_rule {
        text-align:center;
        font-size:16px;
        @media only screen and (max-width: 767px) {
            text-align:left;
            font-size:14px;
        }
    }
    .ruleUnit {
        display:flex;
        justify-content: space-between;
        margin:20px auto 0;
        .item {
            width:48%;
            background:#F2F2F2;
            text-align:center;
            &Header {
                background:#1B5FA6;
                color:#fff;
                font-weight:bold;
                padding:6px;
                font-size:16px;
                border-radius: 5px 5px 0 0;
                span {
                    font-size:20px;
                }
            }
            &Body {
                padding:24px;
                border-radius: 0 0 5px 5px;
                display:flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                min-height:132px;
                @media only screen and (max-width: 999px) {
                    padding:16px;

                }
                .ruleList {
                    font-size:20px;
                    font-weight:bold;
                    margin:0;
                    position: relative;
                    padding-left:.7em;
                    &:before {
                        content:"";
                        display:block;
                        width:8px;
                        height:8px;
                        border-radius: 50px;
                        background:#1B5FA6;
                        position:absolute;
                        left:0;
                        top:50%;
                        transform:translateY(-50%);
                    }
                    sup {
                        color:#777;
                        position: relative;
                        font-size:60%;
                    }
                }
                .ruleText {
                    font-size:16px;
                    margin:0;
                }
                .cautionList {
                    text-align:left;
                    max-width:17em;
                    margin:0 auto;
                    li {
                        color:#777;
                        font-size:14px;
                        text-indent:-1em;
                        padding-left:1em;
                    }
                }
            }
        }
        @media only screen and (max-width: 767px) {
            flex-direction: column;
            margin-top:-16px;
            .item {
                width:100%;
                text-align:left;
                margin:16px 0 0;
                &Header {
                    font-size:14px;
                    padding:4px 10px;
                    span {
                        font-size:16px;
                    }
                }
                &Body {
                    align-items: unset;
                    min-height:unset;
                    .ruleList {
                        font-size:16px;
                        padding-left:.7em;
                        &:before {
                            width:6px;
                            height:6px;
                        }
                        sup {
                            font-size:60%;
                        }
                    }
                    .ruleText {
                        font-size:14px;
                        text-indent:1em;
                    }
                    .cautionList {
                        max-width:unset;
                        margin:0;
                        li {
                            font-size:12px;
                        }
                    }
                }
            }
        }
    }
    &_period {
        background:#F6E1B0;
        font-size:16px;
        font-weight:bold;
        margin:0 0 40px;
        text-align:center;
        &_ttl{
            font-size:12px;
        }
        b{
            font-size: 24px;
        }
        @media only screen and (max-width: 767px) {
            line-height: 1.2;
            padding: 8px 0;
            b{
                font-size: 14px;
            }
        }
    }
    &_number {
        width: 80px;
        line-height: 80px;
        font-size: 56px;
        font-weight: bold;
        text-align: center;
        background: #FFF;
        color: #1166c9;
        position: absolute;
        left: 50%;
        top: -40px;
        transform: translateX(-50%);
        border-radius: 4px;
        z-index: 1;
        @media only screen and (max-width: 767px) {
            width: 56px;
            line-height: 56px;
            font-size: 40px;
            top: -38px;
        }
    }
    &_prize {
        background: #fff;
    }
    &_catch {
        background:#1B5FA6;
        text-align: center;
        margin:0;
        padding: 18px 0 16px;
        position: relative;
        border-radius:5px 5px 0 0;
        @media only screen and (max-width: 767px) {
            padding: 12px 5.3334vw;
        }
        img{
            position: relative;
            z-index: 1;
        }
    }
    &_sub {
        padding: 0 4%;
        margin-bottom: 24px;
        position: relative;
        z-index: 1;
    }
    &_notice {
        margin:40px 0;
        font-size: 20px;
        @media only screen and (max-width: 767px) {
            font-size: 14px;
            margin:32px 16px;
            text-align:left;
        }
    }
    &_service {
        margin:0 auto;
        &_ttl{
            background: #3b4263;
            border-radius: 4px 4px 0 0;
            color: #FFF;
            font-size: 20px;
            padding: 4px 0;
            margin: 0;
        }
        img{
            max-width: 100%;
            box-sizing: border-box;
        }
        .cautionList {
            margin:24px auto 0;
            text-align:left;
            max-width:760px;
            li {
                text-indent:-1em;
                padding-left:1em;
                color:#acacac;
                font-size:14px;
                @media only screen and (max-width: 767px) {
                    font-size:12px;
                }
            }
        }
        @media only screen and (max-width: 767px) {
            &_ttl{
                font-size: 12px;
                padding: 5px 0;
            }
        }
    }
    &Present {
        background:#D5EAFF;
        padding:0 0 80px;
        @media only screen and (max-width: 767px) {
            padding:0 0 40px;
        }

    }
    &_list {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        max-width: 800px;
        width: 92%;
        position: relative;
        z-index: 1;
        li:nth-child(even){
            margin-right: 0;
        }
        li:last-child {
            width:100%;
            margin-right:0;
            margin-bottom:0;
        }
    }
    &_item {
        background-color: #FFF;
        width: calc(33.333% - 20px);
        box-sizing: border-box;
        border: 4px solid #1B5FA6;
        position: relative;
        margin: 0 24px 24px 0;
        font-weight: bold;
        border-radius: 4px;
        &_detail {
            position: relative;
            z-index: 2;
        }
        &_ttl {
            display: flex;
        }
        &_band {
            background: #1B5FA6;
            text-align: center;
            font-size: 16px;
            color: #fff;

            padding:16px 18px 20px;
            span{
                display: block;
                transform: translateY(.2em);
            }
            b{
                font-size: 24px;
                line-height: 1;
                font-family:"Roboto";
            }
        }
        &_num {
            background:#f2f2f2;
            font-size: 32px;
            color: #1166c9;
            padding:6px 16px;
            border-radius:0 0 5px 0;
            span {
                font-size: 62.5%;
                color:#000;
            }
        }
        &_img{
            position: relative;
            display:flex;
            justify-content: center;
            align-items: center;
            min-height:200px;
            @media only screen and (max-width: 768px) {
                margin:32px 0 0;
                min-height:130px;
            }
        }
        &_cat {
            margin: 0 0 8px;
            text-align: center;
            font-size: 14px;
            line-height: 1;
            @media only screen and (min-width: 768px) and (max-width: 999px) {
                margin:12px 0 8px;
            }
            &_box {
                display: inline-block;
                font-weight:normal;
            }
        }
        &_name {
            margin-bottom: 0;
            padding: 0 24px 32px;
            text-align: center;
            font-size: 20px;
            line-height: 1.4;
            font-feature-settings: "palt";
        }
        &_column {

            @media only screen and (min-width: 768px) {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: -20px 0 20px 28px;
                .cp1_item_img, .cp2_item_img {
                    min-height: unset;
                    max-width: 220px;
                }
                .cp1_item_textGroup, .cp2_item_textGroup {
                    margin-left: 12px;
                }
                .cp1_item_cat, .cp1_item_name, .cp2_item_cat, .cp2_item_name {
                    text-align: left;
                    padding: 0;
                }
            }
        }
        .note {
            text-align: left;
            font-weight: normal;
            font-size: 11px;
            line-height: 1.4;
            position: absolute;
            right: 15px;
            bottom: 15px;
        }
        @media only screen and (max-width: 767px) {
            width: 100%;
            margin: 0 0 24px 0;
            &:last-child{
                margin-bottom: 0;
            }
            &_ttl {
                //padding: 20px;
            }
            &_band {
                width: auto;
                height:48px;
                font-size: 12px;
                display: flex;
                justify-content: center;
                align-items: center;
                box-sizing: border-box;
                min-width:6em;
            }
            &_num {
                font-size: 24px;
                height:48px;
                box-sizing: border-box;
            }
            &_img{
                img{
                    width: auto;
                    max-width: 76%;
                    max-height: 192px;
                }
                &::before{
                    width: 92%;
                    height: 80%;
                }
            }
            &_cat {
                margin: 20px 20px 8px;
                font-size: 12px;
                @media only screen and (max-width: 767px) {
                    margin:8px 0;
                }
            }
            &_name {
                padding: 0 20px 32px;
                font-size: 18px;
            }
        }
        @media only screen and (min-width: 768px) {
            &--a {
                width: 100%;
                .cp1_item {
                    &_ttl {
                        display: block;
                        padding: 25px 25px 0;
                    }
                    &_band {
                        width: 96px;
                    }
                    &_num {
                        width: 96px;
                        margin: 8px 0 0;
                        font-size: 40px;
                    }
                    &_img {
                        max-width: 73%;
                        position: absolute;
                        top: 30px;
                        right: 30px;
                        img {
                            max-width: 100%;
                        }
                    }
                    &_cat {
                        margin: 110px 35px 12px;
                        font-size: 16px;
                    }
                    &_name {
                        padding: 0 35px 35px;
                        font-size: 30px;
                    }
                }
            }
            &--b,
            &--c {
                width: calc(50% - 12px);
            }
        }
    }
    &_note{
        text-align: left;
        margin: 16px auto 0;
        max-width: 800px;
        p {
            text-indent:-1em;
            padding-left:1em;
            font-size:14px;
        }
        @media only screen and (max-width: 999px) {
            width:92%;
        }
        @media only screen and (max-width: 767px) {
            font-size: 12px;
            padding:0 18px;
        }
    }
    &_wchance {
        padding:80px 0;
        background:url(../img/bg_wchance_l.png) no-repeat center center;
        background-size:cover;
        position:relative;
        &:before {
            content:"";
            display:block;
            width:630px;
            height:80px;
            background:url(../img/fig_wchance_l.png) no-repeat 0 0;
            position: absolute;
            left:0;
            top:0;
            @media only screen and (max-width: 767px) {
                background:url(../img/fig_wchance_s.png) no-repeat 0 0;
                width:315px;
                height:40px;
                left:50%;
                transform:translateX(-50%);
                top:50px;

            }
        }
        * {
            box-sizing: border-box;
        }
        @media only screen and (max-width: 767px) {
            padding:0 0 40px;
            .holder-sml {
                width:auto;
            }
            .presentUnit,
            .presentPeriod {
                width:93.75%;
                margin:0 auto;
            }
        }
        &_caption {
            background:#FF3B3B;
            border-radius:5px;
            color:#fff;
            font-size:32px;
            font-weight:bold;
            text-align:center;
            padding:12px 0;
            max-width:640px;
            width:100%;
            margin:0 auto;
            position: absolute;
            left:50%;
            transform:translateX(-50%);
            top:-36px;
            @media only screen and (max-width: 767px) {
                position: static;
                font-size:16px;
                transform:translateX(0);
                border-radius: 0;
            }

        }
        .presentUnit {
            background:#fff;
            max-width:800px;
            margin:0 auto;
            position:relative;
            border-radius: 5px 5px 0 0;
            padding:40px 36px 40px 96px;
            display:flex;
            align-items: center;
            @media only screen and (max-width: 999px) {
                max-width:640px;
                margin:60px auto 0;
            }
            @media only screen and (max-width: 767px) {
                max-width:300px;
                margin:40px auto 0;
                flex-direction: column;
                padding:24px 16px;
            }
            &__num {
                position: absolute;
                left:-80px;
                top:-30px;
                @media only screen and (max-width: 767px) {
                    left:-24px;
                    top:-24px;
                }
            }
            &__img {
                margin-right:20px;
                @media only screen and (max-width: 767px) {
                    margin:0 0 20px;
                }
            }
            &__textGroup {
                @media only screen and (max-width: 767px) {
                    text-align:center;
                }

            }
            &__cat {
                font-size:14px;
                @media only screen and (max-width: 767px) {
                    font-size:12px;
                }
            }
            &__name {
                font-size:24px;
                font-weight:bold;
                line-height:1.4;
                font-feature-settings: "palt";
                @media only screen and (max-width: 767px) {
                    font-size:16px;
                }
            }
        }
        .presentPeriod {
            max-width:800px;
            margin:0 auto;
            border-radius: 0 0 5px 5px;
            @media only screen and (max-width: 999px) {
                max-width:640px;
            }
            @media only screen and (max-width: 767px) {
                max-width:300px;
            }
            .cp1_period {
                background:#1B5FA6;
                color:#fff;
                margin:0 auto;
                border-radius:0 0 5px 5px;
            }
        }
    }
    &_cv {
        margin-top: 60px;
        padding: 0 4%;
        text-align: center;
        &_btn {
            display: inline-block;
            max-width: 640px;
            width: 100%;
            border-radius: 8px;
            background:#ED472F;
            box-shadow: 0 5px 0 0 rgba(210, 59, 37, 1);
            font-size: 32px;
            font-weight: bold;
            text-align: center;
            padding: 16px 0;
            color: #FFF;
            box-sizing: border-box;
            transition: all 0.4s 0s ease;
            &:hover{
                color: #FFF;
                box-shadow: 0 2px 0 0 rgba(210, 59, 37, 1);
                transform: translateY(4px);
                opacity: 1;
            }
            &:link{
                text-decoration: none;
            }
            &:active{
                box-shadow: 0 0 14.25px 0.75px rgba(0, 0, 0, 0.15);
                transform: translateY(8px);
            }
            .ico_new-window:before {
                width: 20px;
                height: 20px;
                background-image: url(../img/ico_blank_white.svg);
                vertical-align: 0.2em;
            }
        }
        @media only screen and (max-width: 767px) {
            margin-top: 40px;
            &_btn {
                font-size: 20px;
                padding: 24px;
                display: flex;
                justify-content: center;
                align-items: center;
                line-height: 1.2;
                text-align: left;
            }
        }

    }
    .overview_ttl {
        background-color: #3b4263;
    }
    @media only screen and (max-width: 767px) {
        &_ttl img {
            width: 59vw;
        }
    }
}
.cp2 {
    &_period {
        margin-bottom:0;
        border-radius:0 0 5px 5px;
    }
    &_apply{
        position: relative;
        &::before {
            content: "";
            background: #e7f2ff;
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: -16%;
            z-index: 0;
        }
        > * {
            position: relative;
            z-index: 1;
        }
        &_wrapper {
            margin: 64px auto 0;
            max-width: 880px;
            width: 92%;
            background: #1166c9;
            border-radius: 4px;
            padding: 40px;
            box-sizing: border-box;
        }
        &_ttl{
            font-size: 24px;
            font-weight: bold;
            letter-spacing: 0.04em;
            margin-bottom: 40px;
            color: #FFF;
        }
        @media only screen and (max-width: 767px) {
            &::before {
                top: -40px;
            }
            &_wrapper {
                margin: 80px 5.3333vw 0;
                width: auto;
                padding: 40px 5.3333vw;
            }
            &_ttl{
                font-size: 20px;
                margin-bottom: 40px;
            }

        }
    }
    &_step{
        display: flex;
        justify-content: space-between;
        &_item{
            background: #FFF;
            border:#FFF 4px solid;
            border-radius: 4px;
            box-shadow: 0px 0px 9.5px 0.5px rgba(0, 0, 0, 0.15);
            margin-right: 34px;
            padding-bottom: 16px;
            flex: 1;
            &:last-child{
                margin-right: 0;
            }
        }
        &_ttlWrap{
            position: relative;
            background: #1166c9;
            font-size: 16px;
            font-weight: bold;
            color: #FFF;
            line-height: 1.4;
            padding: 40px 0 16px;
        }
        &_ttl{
            min-height: 2.8em;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
        }
        &_num{
            width: 56px;
            height: 56px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            line-height: 1;
            background: #ffe400;
            border-radius: 4px;
            position: absolute;
            left: 50%;
            top: 0;
            transform: translate(-50% ,-50%);
            color: #1166c9;
            font-size: 12px;
            font-weight: bold;
            b{
                font-size: 2em;
            }
        }
        &_txt{
            padding: 16px;
            text-align: left;
            font-size: 14px;
        }
        &_btn{
            color: #FFF;
            font-size: 14px;
            font-weight: bold;
            background: #f7790b;
            border-radius: 4px;
            margin: 0 auto;
            max-width: 200px;
            line-height: 20px;
			padding: 10px 0;
            display: block;
            &:link{
                text-decoration: none;
            }
            &:hover{
                color: #FFF;
            }
        }
        @media only screen and (max-width: 980px) {
            flex-direction: column;
            &_item{
                margin: 0 0 40px;
                padding-bottom: 20px;
                &:last-child{
                    margin: 0;
                }
            }
            &_ttlWrap{
                padding: 48px 0 20px;
            }
            &_ttl{
                min-height: auto;
            }
            &_txt{
                padding: 20px;
            }
            &_btn{
                font-size: 16px;
            }
        }
    }
}

/*サービスキャンペーン*/
.servicecp {
    background-color: #fff;
    padding: 96px 0 0;
    @media only screen and (min-width: 768px) {
        &_body {
            width: 92%;
        }
    }
    &_ttl {
        margin-bottom: 30px;
    }
    &_cv {
        margin-top: 32px;
        text-align: center;
        &_btn {
            display: inline-block;
            max-width: 480px;
            width: 100%;
            border-radius: 8px;
            background:#ED472F;
            box-shadow: 0 5px 0 0 rgba(210, 59, 37, 1);
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            padding: 20px;
            color: #FFF;
            box-sizing: border-box;
            transition: all 0.4s 0s ease;
            &:hover{
                color: #FFF;
                box-shadow: 0 2px 0 0 rgba(210, 59, 37, 1);
                transform: translateY(4px);
                opacity: 1;
            }
            &:link{
                text-decoration: none;
            }
            .ico_new-window:before {
                width: 20px;
                height: 20px;
                background-image: url(../img/ico_blank_white.svg);
                vertical-align: 0.2em;
            }
        }
        @media only screen and (max-width: 767px) {
            margin-top: 40px;
            &_btn {
                font-size: 20px;
                padding: 24px;
                display: flex;
                justify-content: center;
                align-items: center;
                line-height: 1.2;
                text-align: left;
                margin:0 auto;
            }
        }
    }
    .overview {
        margin-top: 50px;
        @media only screen and (min-width: 768px) {
            &_table {
                max-width: 750px;
            }
        }
    }
    @media only screen and (max-width: 767px) {
        padding: 64px 0 0;
        &_ttl {
            margin-bottom: 4vw;
        }
        &_catch {
            //padding: 0 4vw;
        }
        &_cv {
            margin-top: 8vw;
            margin:8vw auto 0;
            &_btn {
            }
        }
        .overview {
            margin-top: 8vw;
        }
    }
}

/*注意事項*/
.notes {
    background: #f2f2f2;
    padding-bottom: 48px;
    &_ttl {
        background: #000;
        padding: 10px 0;
        text-align: center;
        color: #fff;
        font-weight: bold;
        font-size: 16px;
        @media only screen and (max-width: 767px) {
            font-size:14px;
            padding: 8px 0;
        }
    }
    &_body {
        width: 92%;
        font-size: 14px;
        line-height: 1.6;
    }
    h4 {
        margin-top: 3.2em;
        font-size:16px;
        @media only screen and (max-width: 767px) {
            font-size:14px;
        }
    }
    .ul {
        margin-top: 1.6em;
        @media only screen and (max-width: 767px) {
            margin-top: .8em;
            margin-bottom:0;
            li {
                font-size:12px;
            }
        }

    }
    textarea {
        background: #fff;
        width: 100%;
        height: 220px;
        margin: 20px 0;
        box-sizing: border-box;
        padding: 30px;
        border: 1px solid #ccc;
        font-size: 14px;
        white-space: break-spaces;
    }
    @media only screen and (max-width: 767px) {
        padding-bottom: 0;
        textarea {
            padding: 15px;
        }
        p {
            font-size:12px;
        }
    }

}

/*フッター*/
.copyright {
    background:#f2f2f2;
    color:#000;
    padding: 28px 0;
    text-align: center;
    font-size: 14px;
}

/*PS アールマーク調整*/
.ps_rmark {
    top: -2px;
    font-size: 13px;
}

/*Switch　文字サイズ補正*/
.switch_fs {
    font-size: 80%;
}

.xs_chara {
    background:url(../img/xs_bg_l.png) no-repeat center top #A9EDF7;
    background-size:100% auto;
    text-align:center;
    padding:90px 0;
    @media only screen and (max-width: 999px) {
        padding:90px 16px;
    }
    @media only screen and (max-width: 767px) {
        background-image:url(../img/xs_bg_s.png);
        padding:40px 16px;
    }
    * {
        box-sizing: border-box;
    }
    .chara_ttl {
        margin:0 0 36px;
    }
    .lead {
        font-size:2.4rem;
        font-weight:bold;
        margin:0 0 36px;
        @media only screen and (max-width: 767px) {
            font-size:1.6rem;
            margin:0 0 12px;
        }
    }

    .clickhere {
        font-size:14px;
        margin:0 0 12px;
    }

    .cloudAnimals {
        background:#fff;
        max-width:800px;
        margin:0 auto 20px;
        padding:16px 60px 40px;
        border-radius:10px;
        @media only screen and (max-width: 767px) {
            padding:24px;
            max-width:360px;
        }
    }
    .support {
        margin:0 auto 12px;
        width:92%;
        @media only screen and (max-width: 767px) {
            text-align:left;
            font-size:14px;
        }
    }
    .modal_cloudAnimals {
        background:url(../img/xs_cloudanimals.png) no-repeat center center;
        background-size:cover;
        margin:0 auto;
        position:relative;
        display:flex;
        width:680px;
        height:392px;
        @media only screen and (max-width: 999px) {
            width:auto;
        }
        @media only screen and (max-width: 767px) {
            width:295px;
            height:170px
        }
    }
    .thumb {
        a {
            width:33.3333%;
            position:relative;
            z-index:1;
            text-indent:-9999px;
            overflow:hidden;
            transition: all .3s ease-out;
            &:hover {
                background:rgba(255,255,255,.4);
            }
        }
        img {
            width:100%;
            height:auto;
        }
    }
}

#cpTop {
    //モーダル上書き
    .mfp-bg {
        z-index:10001;
    }
    .mfp-wrap {
        z-index:10002;
    }
    .mfp-figure:after {
        display:none!important;
    }
    .mfp-img+ figcaption {
        display:none;
    }
    .mfp-close {
        width:32px;
        height:42px;
        line-height:42px;
        background:url("../img/modal_close.png") no-repeat 0 0 ;
        text-indent:-9999px;
        overflow:hidden;
        right:0;
        top:-2%;
    }
    .mfp-arrow {
        @media only screen and (max-width: 767px) {
            display:none;
        }
    }
}
.cp1 {
    padding:80px 0 120px;
    @media only screen and (max-width: 767px) {
        padding:40px 0;
    }
}
.cp1,.cp2 {
    &_period {
        margin-bottom:0;
    }
    &_inner {
        padding-top:40px;
    }
    &_accordion {
         display:none;
        &Btn {
            display:flex;
            align-items: center;
            justify-content: center;
            max-width:320px;
            margin:0 auto;
            padding:8px;
            border:3px solid #F6E1B0;
            border-top:none;
            border-radius:0 0 5px 5px;
            background:#fff;
            font-weight:bold;
            font-size:20px;
            span {
                position:relative;
                padding-right:16px;
                &:after {
                    content:"";
                    display:block;
                    border:7px solid transparent;
                    border-left-width:5px;
                    border-right-width:5px;
                    border-top-color:#1b5fa6;
                    position:absolute;
                    right:0;
                    top:10px;
                }
            }
            @media only screen and (max-width: 767px) {
                font-size:14px;
                max-width:240px;
                span {
                    &:after {
                        top:6px;
                    }
                }
            }
        }
     }
}