//=============================================================
//
//  フッター
//
//=============================================================

//-------------------------------------------------------------
//  PR注釈
//-------------------------------------------------------------
.footer_note {
    margin: 30px 0 40px;
    font-feature-settings: "palt";
    counter-reset: number 0;
    @include mediaQueryL {
        margin: 40px 0 50px;
    }

    li:before {
        counter-increment: number 1;
        content: "※" counter(number) " ";
    }

    li {
        margin-left: 2em;
        color: #888;
        font-size: 11px;
        line-height: 1.4;
        text-indent: -2em;
        a {
            color: #888;
        }
    }
}

//-------------------------------------------------------------
//  関連サイト
//-------------------------------------------------------------
.related-site {
    ul {
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin:0 -5px;
    }
    li {
        @include mediaQueryS {
            width:49%;
            margin:0 0 10px;
        }
        img {
            @include mediaQueryS {
                display: block;
                width: 100%;
                height: auto;
            }
        }
    }
    @include mediaQueryS {
        margin:20px 10px;
    }
    @include mediaQueryML {
        width: 190px;
        margin-left: 20px;
        ul {
            display:block;
            margin:-10px 0 0;
        }
        li {
            margin:10px 0 0;
        }
    }
}

//-------------------------------------------------------------
//  フッター
//-------------------------------------------------------------
#footer {
    padding: 40px 0 0;
    @include mediaQueryML {
        padding: 60px 0 0;
    }

    .footerColumn1 {
        &>.spmenu_list {
            border-bottom:1px solid #ccc;
        }
        .is-current > .spmenu_list_label,
        .is-current .is-current .spmenu_list_label,
        .spmenu_list_label.is-current {
            color:#222;
            font-weight:normal;
        }
        .spmenu_list_column_inner > .spmenu_list_item:last-child {
            border-bottom: 1px solid #ccc;
        }
        @include mediaQueryML {
            display:flex;
            flex-wrap:wrap;
            justify-content: space-between;
        }
        @include mediaQueryL {
            .spmenu_list_column_inner > .spmenu_list_item:last-child {
                border-bottom: none;
            }
            &>.spmenu_list {
                border:none;
                display:flex;
                justify-content: space-between;
                a {
                    text-decoration: none;
                }
                .ico_chevron-right,
                .ico_plus {
                    display:none;
                }
                .spmenu_list_column_inner {
                    &>li:not(:last-child){
                        margin-bottom: 40px;
                    }
                    &>.spmenu_list_item {
                        &>a {
                            pointer-events: none;
                        }
                    }
                }
                &>.spmenu_list_item {
                    &>a {
                        pointer-events: none;
                    }
                }
                .spmenu_list_item {
                    border:none;
                    padding:0;
                }
                .spmenu_list_label {
                    padding:0;
                    background:none;
                    border:none;
                    font-size:1.3rem;
                    font-weight:bold;
                    span {
                        display: inline-block;
                        width:auto;
                        float:none;
                    }
                    .ico_new-window {
                        display: inline-block;
                        float: none;
                        width: auto;
                        margin-left: 6px;
                    }
                }
                .spmenu_list_sub {
                    display:block;
                    font-size:1.3rem;
                    font-weight:normal;
                    border:none;
                    margin: 20px 0 0;
                    &>.spmenu_list_item {
                        margin: 12px 0 0;
                        .spmenu_list_label {
                            font-weight:normal;
                        }
                    }
                }
            }
        }
    }
    .spmenu_list {
        .spmenu_list_item {
            &:last-child {
            }
            &.registry {
                &>.spmenu_list_label {
                    color:$colorBody;
                    background:none;
                }
            }
        }
        @include mediaQueryS {
            .spmenu_list_sub .spmenu_list_label {
                padding-left:26px;
            }
        }
        .spmenu_list_label  {
            padding: 12px 3.13%;
            font-size:1.4rem;
            font-feature-settings: "palt";
            i {
                color:$colorSub;
            }
            .ico_new-window {
                position: relative;
                top: -1px;
            }
            span {
                i {
                    color:$colorBody;
                }
            }
        }
        @include mediaQueryML {
            flex:1;
        }
    }
}

.footer-nav {
    padding: 20px 0 30px;
    @include mediaQueryM {
        padding: 25px 0 30px;
    }
    @include mediaQueryL {
        display:table;
        margin:0 auto;
        padding: 25px 0 50px;

        .footer-nav-wrap{
            display:flex;
            flex-wrap:wrap;
            align-items: center;
        }
    }
}

.footer-link {
    display:flex;
    flex-wrap:wrap;
    margin:-2px -10px;
    font-size:1.2rem;
    li {
        margin:2px 10px;
    }
    a {
        color:$colorBody;
        text-decoration: none;
    }
}

.footer-socialLink {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    margin: 15px -8px -5px;
    @include mediaQueryM {
        margin: 20px -8px -5px;
    }
    @include mediaQueryL {
        margin: -5px -5px -5px 20px;
    }

    li {
        margin: 5px 8px;
        @include mediaQueryL {
            margin: 5px;
        }
    }
    a {
        text-decoration: none;
    }
    img {
        width:32px;
        height:auto;
    }

}

.footer-pr-area{
    overflow: hidden;
    margin: 30px 0;
    padding: 30px 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    @include mediaQueryM {
        margin: 40px 0 30px;
        padding: 30px 0;
    }
    @include mediaQueryL {
        margin: 40px 0;
        padding: 40px 0;
    }
}

.footer_siteid {
    text-align: center;

    img {
        max-width: 100%;
        height: auto;
    }
}

.pr-area {
    display: flex;
    justify-content: space-between;
    font-feature-settings: "palt";
    font-size: 12px;
    @include mediaQuerySM {
        flex-wrap: wrap;
        align-items: flex-start;
    }
    @include mediaQueryL {
        align-items: center;
    }

    .pr-area-item {
        display: flex;
        align-items: center;
        @include mediaQuerySM {
            width: 50%;
            flex-direction: column;
            text-align: center;
        }
        @include mediaQueryL {
            padding: 0 10px;
            &:last-child {
                width: 40%;
            }
        }
        img{
            @include mediaQueryS {
                max-width: 100%;
            }
        }
        dt {
            padding-right: 10px;
            @include mediaQuerySM {
                padding-right: 0;
            }
        }
        dd {
            @include mediaQuerySM {
                text-align: left;
                word-break: break-all;
                padding: 10px;
            }
        }
    }
    .pr-isms {
        dd {
            width: 240px;
            word-break: break-all;
            @include mediaQuerySM {
                width: auto;
            }
        }
    }
    .pr-siteseal {
        @include mediaQuerySM {
            width: 100%;
            margin-top: 30px;
            padding: 30px 5px 0;
            flex-direction: row;
            justify-content: center;
            border-top: 1px solid #eee;
        }
        @include mediaQueryS {
            display: block;
        }
        dt {
            @include mediaQueryS {
                display: inline-block;
                margin-right: 3px;
            }
            @include mediaQueryM {
                margin-right: 10px;
            }
        }
        dd {
            @include mediaQueryS {
                display: inline-block;
            }
        }
    }
}


.copyright {
    padding: 20px 0;
    background: $colorMain;
    color: #fff;
    font-size:1.2rem;
    text-align:center;

    p {
        margin: 0;
    }
}

//-------------------------------------------------------------
//  関連サービス
//-------------------------------------------------------------
.related-service {
    padding : 15px 0;
    background: #eff4f8;
    font-size : 1.2rem;
    a {
        display: inline-block;
        padding: 3px 0;
        color:$colorBody;
        text-decoration: none;
        @include mediaQueryML {
            padding: 5px 0;
        }
        &:hover {
            text-decoration: underline;
        }
    }
    @include mediaQueryM {
        ul{
            display:flex;
            flex-wrap:wrap;
             > li {
                width:50%;
            }
        }
    }
    @include mediaQueryL {
        ul{
            display:flex;
            flex-wrap:wrap;
            > li {
                width:33%;
            }
        }
    }
}

//-------------------------------------------------------------
//  レイアウト切り替えボタン
//-------------------------------------------------------------
#layout-switch {
    display: none;
    margin: 0;
    padding: 10px 0;
    text-align: center;
}

//-------------------------------------------------------------
//  ページトップに戻るボタン
//-------------------------------------------------------------
#pagetop-btn {
    display : block;

    @include mediaQuerySM {
        height: 50px;
        background: #262626;
        color: #fff;
        line-height: 50px;
        text-align: center;
        text-decoration: none;
    }

    @include mediaQueryL {
        position: fixed;
        bottom: -65px;
        right: 20px;
        box-sizing: border-box;
        width: 60px;
        height: 60px;
        background: $colorMain;
        border: 3px solid #fff;
        text-align: center;
        text-decoration: none;
        text-shadow: 0 1px 1px #2e577f;
        transition: all .1s ease-out;
    }

    &:hover {
        @include mediaQueryL {
            background-color: #0e4579;
            text-decoration: none;
            transform: scale(1.1,1.1);
        }
    }

    span {
        @include mediaQueryL {
            display: none;
        }
    }

    .ico {
        @include mediaQuerySM {
            margin: 0 5px 0 0;
        }

        @include mediaQueryL {
            color: #fff;
            font-size: 30px;
            line-height: 54px;
        }
    }
}


//-------------------------------------------------------------
//  キャッシュレス施策
//-------------------------------------------------------------
.cashless {
    position: fixed;
    right: 25px;
    bottom: 25px;
    z-index: 9999;
    //width: 197px;
    background: #fff;
    padding: 12px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    text-align: center;

    a {
        display: block;
    }

    .button {
        min-width: 180px;
        margin-bottom: 0;
        padding-right: 0.5em;
        padding-left: 0.5em;
        background-color: $colorOrange;
        box-sizing: border-box;
        color: #fff;
        font-feature-settings: "palt";
        &:hover {
            background-color: $colorOrangeLight;
            color: #fff;// overwrite
        }

        .ico_new-window:before {
            background-image:url(../img/common/ico_blank_white.svg);
        }
    }
}

#pid-info .cashless{
    display: none !important;
}

.cashless-pr {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    margin-bottom: 3px;
    color: $colorMain;
}

.cashless .campaign-add{
    margin-top: 8px !important;
}

.cashless-del {
    position: absolute;
    top: -17px;
    right: -17px;
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #28425b;
    color: #fff;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
    box-shadow: 0 2px 4px 0 #666;
}

.cashless-del span::before,
.cashless-del span::after {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    height: 12%;
    margin: -7% 0 0 -30%;
    background: #fff;
}

.cashless-del span::before {
    transform: rotate(-45deg);
}

.cashless-del span::after {
    transform: rotate(45deg);
}

.is--none {
    display: none!important;
}

@include mediaQueryM {
    .cashless .btn_orange-l{font-size: 14px;}
}

@include mediaQueryS {
    .cashless {
        width: 170px;
        padding:10px 4px 8px 4px;
        bottom: 15px !important;
    }
    .cashless-del {
        width: 26px;
        height: 26px;
    }
    .cashless img{width: 92%; height:auto;}
    .cashless-pr{display: none;}
    .cashless .campaign-add{display: none;}
    .cashless p{font-size: 10px !important;}
}