//=============================================================
//
//  ヘッダー
//
//=============================================================

//-------------------------------------------------------------
//  ヘッダー
//-------------------------------------------------------------
#header {
    max-width: 1260px;// 1200+30+30
    margin: 0 auto;
    box-sizing: border-box;
    background: #fff;
    @include mediaQuerySM {
        position: fixed;
        z-index: 10;
        top: 0!important;
        left: 0;
        border-bottom: 1px solid #ccc;
        width:100%;
    }
    .headerInner {
        @include mediaQuerySM {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 50px;
        }
    }

    @include mediaQueryL {
        position: absolute;
        padding: 0 30px;
        z-index:12;
        background:#fff;
        width:100%;
        max-width:unset;
        .headerInner {
            max-width:1200px;
            margin:0 auto;
        }
    }

    #wrapper.spnav-is-open & {
        @include mediaQuerySM {
            position: relative;
            top: auto;
            left: auto;
        }
    }
    &.isFixed {
        @include mediaQueryL {
            position: fixed;
            box-shadow: 0 8px 8px rgba(0, 0, 0, 0.05);
            .sitehead_pr,
            .head_sub{
                transform: translateY(-8vh);
                transform-origin:right top;
                visibility: hidden;
                margin-bottom: 0;
                height: 0;
            }
            .gnav_item_label {
                padding: 7px 8px 21px;
            }
            .snav .gnav_item {
                padding-bottom: 0;
            }
            .snav .gnav_item_label{
                padding: 5px 0 5px 0.25em;
            }
            .sitehead_siteid_img {
                width: 240px;
            }
        }
        .gnav_item.is-current:after {
            display:none;
        }
    }
}

//-------------------------------------------------------------
//  上部エリア
//-------------------------------------------------------------
.headerTop {
    @include mediaQueryS {
        margin: 0 0 0 3.6%;
    }
    @include mediaQueryM {
        width: 94.79%;
        margin: 0 auto;
        display:flex;
        align-items: center;
        justify-content: left;
    }
    @include mediaQueryL {
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    &__leftColumn {
        @include mediaQueryML{
            margin-bottom: 4px;
        }
    }
    &__rightColumn {
        @include mediaQueryL {
            flex-shrink: 0;
        }
    }
}

.sitehead {

    // ロゴ
    &_siteid {
        line-height: 1;
        position: relative;
        @include mediaQueryM {
            margin-right: 30px;
        }
        > a {
            display: inline-block;
            margin-right: 15px;
            @include mediaQueryL {
                margin-right: 0;
            }
        }
    }
    .head_sub{
        display: block;
        font-size: 1.2rem;
        font-weight: bold;
        font-feature-settings: "palt";
        .num{
            color: #bb940f;
            font-size: 1.6rem;
            font-kerning: normal;
            letter-spacing: 0;
            @include mediaQueryL {
                font-size: 2.4rem;
            }
        }
        a{
            color: inherit;
            font-size: .9rem;
        }
        @include mediaQueryL {
            font-size: 1.4rem;
            transition: all .3s ease-out;
            overflow: hidden;
        }
    }
    .sitehead_siteid_img {
        width: 192px;
        height:auto;
        @include mediaQueryL {
            width: 282px;
            margin: 5px 0;
            transition: all 0.3s ease;
        }
        @media only screen and (min-width: 1099px) and (max-width: 1144px){
            width: 240px;
        }
    }
    .head_share_img {
        display: block;
        position: relative;
        margin: 2px 0 0;
        @include mediaQueryML {
            display: inline-block;
        }
        @include mediaQueryL {
            margin: 5px 0;
        }

        img {
            width: 164px;
            height:auto;
            @include mediaQueryM {
                width: 100px;
            }
            @media only screen and (min-width: 1160px) {
                width: auto;
            }
        }
        a {
            margin-left: 3px;
            color: $colorBody;
            font-size: 10px;
            @include mediaQueryL {
                position: relative;
                top: 8px;
            }
        }
    }

    // 運用サイト数PR
    &_pr {
        margin: 0;
        line-height: 1;
        font-feature-settings: "palt";
        @media only screen and (max-width: 824px) {
            display:none;
        }
        @include mediaQueryL {
            margin: 15px 0 8px;
            text-align: right;
            transition: all .3s ease-out;
            position: relative;
            z-index: 1;
            transform: translateY(0);
        }
        // 運用サイト数XXX万件突破！
        &_text {
            display: inline-block;
            color: $colorSub;
            position: relative;
            font-weight: 500;
            font-size: 1.4rem;
            @media only screen and (min-width: 1300px) {
                transform: translateX(5%);
            }
            a {
                font-size: 10px;
                margin-left: 3px;
                color: $colorBody;
            }
        }

        // 数値
        &-num {
            margin-left: 0.1em;
            font-weight:bold;
            vertical-align: -0.06em;
            @include mediaQueryS {
                font-size: 1.4rem;
            }
            @include mediaQueryML {
                font-size:2.3rem;
            }
        }
    }

}


//-------------------------------------------------------------
//  初期費用半額キャンペーン
//-------------------------------------------------------------

// 共通
.cp-sv-int-header {
    display: block;
    background: url(../img/campaign/cp_sv_int_header_bg.png) 0 0 repeat;
    text-align: center;
    .spnav-is-open & {
        display: none;
    }
}
.cp-sv-int-header_date {
    display: inline-block;
    background: #f43c3c;
    color: #fff;
}
.cp-sv-int-header_ttl {
    display: inline-block;
}

// スマホ用
@include mediaQueryS {
    .cp-sv-int-header {
        height: 40px;
    }
    .cp-sv-int-header_bg {
        margin: 0 auto;
        background: url(../img/campaign/cp_sv_int_header_s_sparkle.png) 0 0 no-repeat;
        background-size: cover;
    }
    .cp-sv-int-header_ttl {
        display: inline-block;
        line-height: 40px;
        margin: 2px 0 0;
        width: 187px;
        height: 35px;
        background: url(../img/campaign/cp_sv_int_header_s_txt.png) 0 0 no-repeat;
        background-size: cover;
        text-indent: -9999px;
    }
    .cp-sv-int-header_date {
        padding: 3px;
        margin: 0 0 0 5px;
        font-size: 11px;
        position: relative;
        top: -3px;
    }
}

// タブレット用
@include mediaQueryM {
    .cp-sv-int-header {
        height: 60px;
    }
    .cp-sv-int-header_bg {
        margin: 0 auto;
        height: 60px;
        background: url(../img/campaign/cp_sv_int_header_m_sparkle.png) 50% 50% no-repeat;
    }
    .cp-sv-int-header_ttl {
        display: inline-block;
        line-height: 60px;
        height: 60px;
        width: 290px;
        background: url(../img/campaign/cp_sv_int_header_m_txt.png) 0 50% no-repeat;
        text-indent: -9999px;
    }
    .cp-sv-int-header_date {
        padding: 3px;
        margin: 0 0 0 5px;
        font-size: 12px;
    }
}

// PC用
@include mediaQueryL {
    .cp-sv-int-header {
        height: 60px;
        width: 1010px;
        margin: 0 auto 15px;
        position: relative;
    }
    .cp-sv-int-header_bg {
        margin: 0 auto;
        width: 1010px;
        height: 60px;
        background: url(../img/campaign/cp_sv_int_header_l_sparkle.png) 0 0 no-repeat;
    }
    .cp-sv-int-header_ttl {
        display: inline-block;
        width: 290px;
        height: 60px;
        margin: 0 5px 0 0;
        line-height: 60px;
        background: url(../img/campaign/cp_sv_int_header_l_txt.png) 50% 50% no-repeat;
        text-indent: -9999px;
    }
    .cp-sv-int-header_date {
        padding: 5px;
        font-size: 14px;
        position: relative;
    }
}

//-------------------------------------------------------------
//  ドメインプレゼントキャンペーン
//-------------------------------------------------------------

// 共通
.cp-dp-header {
    display: block;
    background: url(../img/campaign/cp_dp_header_bg.png) 0 0 repeat;
    text-align: center;
    .spnav-is-open & {
        display: none;
    }
}
.cp-dp-header_date {
    display: inline-block;
    background: #7ec830;
    color: #fff;
}
.cp-dp-header_ttl {
    display: inline-block;
}

// スマホ用
@include mediaQueryS {
    .cp-dp-header {
        height: 40px;
    }
    .cp-dp-header_bg {
        margin: 0 auto;
        background: url(../img/campaign/cp_dp_header_s_sparkle.png) 0 0 no-repeat;
        background-size: cover;
    }
    .cp-dp-header_ttl {
        display: inline-block;
        line-height: 40px;
        width: 211px;
        height: 40px;
        background: url(../img/campaign/cp_dp_header_s_txt.png) 0 0 no-repeat;
        background-size: cover;
        text-indent: -9999px;
    }
    .cp-dp-header_date {
        padding: 3px;
        margin: 0 0 0 2px;
        font-size: 11px;
        position: relative;
    }
}

// タブレット用
@include mediaQueryM {
    .cp-dp-header {
        height: 60px;
    }
    .cp-dp-header_bg {
        margin: 0 auto;
        height: 60px;
        background: url(../img/campaign/cp_dp_header_m_sparkle.png) 50% 50% no-repeat;
    }
    .cp-dp-header_ttl {
        display: inline-block;
        line-height: 60px;
        height: 60px;
        width: 418px;
        background: url(../img/campaign/cp_dp_header_m_txt.png) 0 50% no-repeat;
        text-indent: -9999px;
    }
    .cp-dp-header_date {
        padding: 3px;
        margin: 0 0 0 5px;
        font-size: 12px;
    }
}

// PC用
@include mediaQueryL {
    .cp-dp-header {
        height: 60px;
        width: 1010px;
        margin: 0 auto 15px;
        position: relative;
    }
    .cp-dp-header_bg {
        margin: 0 auto;
        width: 1010px;
        height: 60px;
        background: url(../img/campaign/cp_dp_header_l_sparkle.png) 0 0 no-repeat;
    }
    .cp-dp-header_ttl {
        display: inline-block;
        width: 418px;
        height: 60px;
        margin: 0 5px 0 0;
        line-height: 60px;
        background: url(../img/campaign/cp_dp_header_l_txt.png) 50% 50% no-repeat;
        text-indent: -9999px;
    }
    .cp-dp-header_date {
        padding: 5px;
        font-size: 14px;
        position: relative;
    }
}


//-------------------------------------------------------------
//  グローバルナビ(PC用)
//-------------------------------------------------------------
#gnav {
    @include mediaQuerySM {
        display: none;
    }
}

.gnav > li span::after,
.gnav > li a::after,
.gnav_sub > li a::after {
    @extend %ico; // メディアクエリ内で継承できないため
}

@include mediaQueryL {
    #gnav {
        display: flex;
        font-size: 16px; // フォントサイズ変更によるレイアウト崩れを防ぐためpx固定
        .gnav_item_label {
            &.alone {
                &::after {
                    display: none;
                }
            }
        }
    }
    .snav {
        .gnav_item {
            margin-left: 10px;
            padding-bottom: 20px;
        }
        .gnav_item_label {
            display: block;
            width: 7.5em;
            color: $colorBody;
            padding: 5px 0 5px 0.25em;
            border: 1px solid #ddd;
            border-radius: 3px;
            text-align: center;
            &:hover {
                cursor:pointer;
            }
            &.registry {
                background-color: $colorOrange;
                border-color: $colorOrange;
                color: #fff;
                &::after {
                    content: unicode(e606);
                    color: #fff;
                }
            }
            &.login {
                background-color: #fff;
                &::after {
                    color: $colorBody;
                }
            }
        }
    }
    .gnav {
        display: flex;
        * {
            box-sizing: border-box;
        }
        a,span {
            display: block;
            color: $colorBody;
            font-feature-settings: "palt";
            text-decoration: none;
        }
    }

    .gnav_item {
        position: relative;
        &:hover{
            .gnav_sub {
                visibility: visible;
                opacity: 1;
            }
        }
        &.is-hover,
        &.is-current{
            &>a {
                color:$colorSub;
            }
        }
        &.is-current {
            &:after {
                content:"";
                display:block;
                position: absolute;
                right: 0;
                bottom: 0;
                left: 0;
                width: 0;
                height: 0;
                margin: auto;
                border-top: 10px solid transparent;
                border-right: 7px solid transparent;
                border-bottom: 10px solid #eff4f8;
                border-left: 7px solid transparent;
            }
        }
        &_label {
            padding: 7px 8px 25px;
            transition: all 0.3s ease;
            &:hover {
                cursor:pointer;
            }
            &::after {
                content: unicode(e604);
                display: inline-block;
                position:relative;
                top:-.1em;
                margin-left: 5px;
                font-size: 90%;
                font-weight: 500;
                color: $colorSub;
            }
        }
    }

    .gnav_sub {
        max-height: none;
        visibility: hidden;
        position: absolute;
        z-index: 999999;
        top: calc(100% - 3px);
        left: 50%;
        transform: translateX(-50%);
        padding: 15px 0;
        background-color: #f8f8f8;
        border-top: 3px solid $colorSub;
        border-radius: 0 0 3px 3px;
        box-shadow: 5px 5px 10px rgba(34,34,34,.1);
        opacity: 0;
        transition: opacity 0.2s ease-out;
        &::before {
            content:"";
            display:block;
            position: absolute;
            right: 0;
            bottom: calc(100% + 3px);
            left: 0;
            width: 0;
            height: 0;
            margin: auto;
            border-top: 9px solid transparent;
            border-right: 7px solid transparent;
            border-bottom: 9px solid  $colorSub;
            border-left: 7px solid transparent;
        }
        > li {
            a {
                position: relative;
                padding: 5px 2.5em;
                font-size: 16px; // フォントサイズ変更によるレイアウト崩れを防ぐためpx固定
                white-space: nowrap;
                &:hover {
                    color: $colorSub;
                }
                &::after {
                    content: unicode(e606);
                    display: inline-block;
                    position: absolute;
                    top: 0;
                    left: 1.6em;
                    bottom: 0;
                    height: 1em;
                    margin: auto;
                    font-size: 90%;
                    font-weight: 500;
                    color: $colorSub;
                }

                .ico_new-window {
                    position: relative;
                    top: -0.1em;
                }
            }
        }
        &_ttl{
            color: $colorSub !important;
            font-weight: 700;
            border-bottom: 1px solid #c6c6c6;
            margin: 10px 1.5em;
            padding-bottom: .2em;
            white-space: nowrap;
        }
    }

    .gnav_item_order,
    .gnav_item_login {
        z-index: 99999;
        .gnav_sub {
            right: 0;
            left: auto;
            transform: translateX(0);
            &::before {
                left: auto;
                right: 3.3em;
            }
        }
    }
    .gnav_item_login {
        .gnav_sub {
            li.gnav_sub_item_1 {
                a {
                    padding: 5px 1em;
                    &:hover {
                        color: $colorSub;
                    }
                    &::after {
                        display: none;
                    }
                    span {
                        position: relative;
                        padding:5px 1.6em 15px;
                        &:hover {
                            color: $colorSub;
                        }
                        &::before {
                            content:"";
                            width: 100%;
                            position: absolute;
                            display: block;
                            left: 0;
                            right: 0;
                            bottom:0;
                            border-bottom: 1px solid $colorSub;
                        }
                        &::after {
                            content: unicode(e606);
                            display: inline-block;
                            position: absolute;
                            top: -10px;
                            left: 0.5em;
                            bottom: 0;
                            height: 1em;
                            margin: auto;
                            font-size: 90%;
                            font-weight: 500;
                            color: $colorSub;
                        }
                    }
                }
                .gnav_sub_in {
                    padding: 10px 1.1em 5px;
                    > li {
                        a {
                            position: relative;
                            padding: 2px 1.6em;
                            font-size: 13px; // フォントサイズ変更によるレイアウト崩れを防ぐためpx固定
                            white-space: nowrap;
                            &:hover {
                                color: $colorSub;
                            }

                            &::after {
                                content: unicode(e606);
                                display: inline-block;
                                position: absolute;
                                top: 0;
                                left: 0.5em;
                                bottom: 0;
                                height: 1em;
                                margin: auto;
                                font-size: 90%;
                                font-weight: 500;
                                color: $colorSub;
                            }

                        }
                    }

                }
            }
        }
    }
}

//-------------------------------------------------------------
//  モバイル端末用ナビ
//-------------------------------------------------------------
#spnav {
    @include mediaQuerySM {
        width: 100px;
        height: 50px;
        flex-shrink: 0;
    }

    @include mediaQueryM {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: 100px;
        height: 50px;
    }

    @include mediaQueryL {
        display: none;
    }
}

.spnav_btn {
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 32px 32px;
}

#spnav_btn_menu {
    float: right;
    background-color: $colorMain;
    background-image: url(../img/common/img_spnav_menu.png);

    &.is-show {
        background-image: url(../img/common/img_spnav_close.png);
    }
}

#spnav_btn_login {
    float: left;
    background-color: #4b4b4b;
    background-image: url(../img/common/img_spnav_login.png);

    &.is-show {
        background-image: url(../img/common/img_spnav_close.png);
    }
}

.spmenu {
    @include mediaQuerySM {
        z-index: 10000;
        position: absolute;
        top: 51px;
        left: 0;
        display: none;
        width: 100%;
        background: #fff;

        a {
            text-decoration: none;
        }
    }

    @include mediaQueryL {
        display: none;
    }
}

.spmenu_list {
    &_sub {
        display: none;
        border-top: 1px solid #ccc;
    }

    &_item {
        border-bottom: 1px solid #ccc;
        &:last-child {
            border-bottom:none;
        }

        .spmenu_list_sub &:last-child {
            border: none;
        }
        &.registry {
            &>.spmenu_list_label {
                background:#f7790b;
                color:#fff;
                i {
                    color:#fff;
                }
            }
        }
    }

    &_label {
        display: block;
        padding: 20px;
        background: #fff;
        line-height: 1;
        color: $colorBody;
        font-size:1.5rem;
        font-weight:500;
        &:hover,
        &:active {
            color:$colorSub;
        }

        .spmenu_list_sub & {
            background: #f8f8f8;
            padding-left:28px;
        }

        .is-current > &,
        .is-current .is-current &,
        &.is-current {
            color: $colorSub;
            font-weight: bold;
        }

        #spmenu_login & {
            border-bottom: 1px solid #ccc;
        }

        #spmenu_login &:last-child {
            border-bottom: none;
        }

        span {
            float: left;
            display: block;
            width: 70%;
        }

        & .ico {
            margin: 0 5px 0 0;
            font-size: 16px;
        }

        & > .ico {
            float: right;
            display: block;
            width: 20%;
            margin: 0;
            color: $colorSub;
            text-align: right;
        }
    }

    .spmenu_list_in {
        li {
            a { background: #f8f8f8;
                padding-left:28px;
                border-bottom: 1px solid #ccc;
            }
        }

    }
    .spmenu_sub{
        &_item{
            padding: 20px 0 0 28px;
            background: #f8f8f8;
        }
        &_group{
            border-top: 1px solid #dbdbdb;
            .spmenu_list_item {
                border-bottom: 1px solid #dbdbdb;
                &:last-child{
                    border-bottom: none;
                }
            }
        }
        &_ttl{
            color: $colorSub;
            font-weight: bold;
            padding-bottom: 20px;
            line-height: 1;
            display: block;
        }
        .spmenu_list_label{
            padding-left: 20px;
        }
    }
}

.spmenu_btns {
    font-size: 1.2rem;

    &_item {
        float: left;
        width: 50%;
        background: #fff;
        border-top: 1px solid #ddd;
    }

    &_label {
        display: block;
        padding: 20px 5.7%;
        color: $colorBody;
        letter-spacing: -.005em;

        &:hover {
            text-decoration: none;
        }
        .spmenu_btns_item {
            font-size:1.2rem;
        }

        .spmenu_btns_item:nth-child(2n+1) & {
            border-right: 1px solid #ccc;
        }

        .ico {
            float: right;
            color: $colorSub;
            font-size: 16px;
            vertical-align: middle;
        }
    }
}

.spmenu_close {
    display: block;
    margin: 0;
    padding: 20px;
    background: $colorMain;
    color: #fff;
    line-height: 1;
    text-align: center;

    .ico {
        margin: 0 5px 0 0;
        font-size: 16px;
        vertical-align: middle;
    }
}