//=============================================================
//
//  下層ページの左カラム（.col-side内）コンテンツ
//
//=============================================================

//-------------------------------------------------------------
//  サイドコンテンツボックス
//-------------------------------------------------------------
.dd {
    @include mediaQueryS {}

    @include mediaQueryM {}

    @include mediaQueryL {}
}

.side-box {
    margin-bottom: 30px;
    font-feature-settings: "palt";
    &:last-child {
        margin-bottom: 0;
    }

    &_ttl {
        position: relative;
        margin-bottom: 15px;
        font-size: 1.6rem;
        padding-left: 15px;
        font-weight: 500;
        @include mediaQueryL {
            padding: 15px 10px 15px 15px;
            background-color: #f8f8f8;
        }

        &:after {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -10px;
            width: 5px;
            height: 20px;
            background-color: $colorSub;
        }
    }

    &_sub-ttl {
        padding: 0.7em 10px 0.7em 24px;
        background-color: #f8f8f8;
        font-weight: 500;

        span {
            position: relative;
            display: block;
            font-size: 1.45rem;

            &::after {
                content: "";
                display: block;
                position: absolute;
                top: 0.5em;
                left: -14px;
                width: 0;
                height: 0;
                border-top: 5px solid #aaa;
                border-right: 4px solid transparent;
                border-bottom: 5px solid transparent;
                border-left: 4px solid transparent;
            }
        }
    }
}


//-------------------------------------------------------------
//  サイドメニュー
//-------------------------------------------------------------
.side-menu {
    .is-current {
        color: $colorSub;
    }

    ul { margin: 0; }

    @include mediaQuerySM {
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 3px;
    }
    a {
        color: $colorBody;
    }
}

.side-menu_label {
    cursor: pointer;
    display: block;
    padding: 0.7em 10px 0.7em 24px;
    border-bottom: 1px solid #eee;
    font-size: 1.45rem;

    .side-menu_item:first-child & {
        border-top: 1px solid #eee;
    }

    &.is-current { background: #eff4f8; }

    .side-menu_item.is-open & {
        background: #eff4f8;
        border-bottom: 1px solid #d6e5f2;
        color: $colorMain;
    }

    @include mediaQuerySM {
        .side-menu_item:first-child & {
            border-top: none;
        }
        .side-menu_item:last-child & {
           border-bottom: none;
        }
    }

    @include mediaQueryL {
        &:hover { background-color: #f5f5f5; }
    }
}

a.side-menu_label { text-decoration: none; }

.side-menu_label_inner {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: 0.3em;
        left: -15px;
        display: block;
        width: 5px;
        height: 5px;
        border-bottom: 2px solid $colorSub;
        border-right: 2px solid $colorSub;
        transform:rotate(-45deg);
    }

    .side-menu_item.is-open &::after {
        transform: rotate(45deg);
        left: -13px;
    }
}

.side-menu_body {
    display: none;
    padding: 0.7em 0 0.4em;
    background-color: #fbfcfc;
    border-bottom: 1px solid #d6e5f2;
    font-size: 1.4rem;
    line-height: 1.4;
    //@include mediaQueryL {
    //    background-color: #f8f8f8;
    //}

    .no-js & { display: block; }

    > li {
        > a {
            position: relative;
            padding: 0.3em 10px 0.3em 24px;

            &::after {
                content: '';
                display: block;
                position: absolute;
                top: 0.6em;
                left: 12px;
                width: 0;
                height: 0;
                border-top: 4px solid transparent;
                border-right: 5px solid transparent;
                border-bottom: 4px solid transparent;
                border-left: 5px solid $colorSub;
            }
        }

        > ul {
            padding-top: 0.4em;
            margin-top: 0.6em;
            border-top: 1px solid #ddd;

            a {
                padding: 0.3em 0;
            }

            ul {
                li {
                    position: relative;
                    padding-left: 1em;
                    &:after {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 0.9em;
                        left: 0.15em;
                        width: 0.5em;
                        height: 1px;
                        background-color: #ccc;
                    }
                }
            }
        }// > ul

        &:not(.side-menu_nolink) > ul {
            margin: 0.3em 15px 0.7em 24px;
        }
    }// > li

    .side-menu_nolink {
        position: relative;
        padding: 0 15px 0.7em 24px;

        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 0.45em;
            left: 10px;
            width: 0;
            height: 0;
            border-top: 5px solid #aaa;
            border-right: 4px solid transparent;
            border-bottom: 5px solid transparent;
            border-left: 4px solid transparent;
        }
    }//.side-menu_nolink

    a {
        display: block;
        text-decoration: none;
        &:hover {
            color: $colorSub;
        }
    }
}


//-------------------------------------------------------------
// 検索窓
//-------------------------------------------------------------
.side-search {
    display:flex;
    * {
        box-sizing: border-box;
    }
    .side-search_input {
        min-width: 0; // for Firefox はみ出るため
        border-radius: 3px 0 0 3px;
        border-right: none;
    }
    .btn {
        flex-shrink: 0;
        height: 45px;
        margin: 0;
        border-radius: 0 3px 3px 0;
        font-family: inherit;
        font-size: 16px; // for iOS
        letter-spacing: 0.1em;
        white-space: nowrap;

        i {
            display: none;
        }
    }
}
@include mediaQueryS {
    .side-search {
        // position: relative;

        &_body_radio { margin: 7px 0; }

        // .btn {
        //     position: absolute;
        //     top: 0;
        //     left: 188px;
        // }
    }
}

@include mediaQueryM {
    .side-search {
        // position: relative;

        &_body_radio { margin: 7px 0; }

        // .btn {
        //     position: absolute;
        //     top: 0;
        //     left: 318px;
        // }
    }
}

@include mediaQueryL {
    .side-search {
        &_btn {
            cursor: pointer;
            width: 67px;
            height: 23px;
            border: none;
        }

        &_body_radio {
            padding-bottom: 15px;
            text-align: left;
        }

        &_body_error { text-align: left; }
    }
}

.side-searchExtra {
    margin-top: 20px;
}

.gsc-search-button.gsc-search-button-v2 {
    flex-shrink: 0;
    height: 45px;
    margin: 0;
    padding: 0.6em 1em;
    background:$colorMain!important;
    color: #fff !important;
    font-weight: 500;
    border-radius: 0 3px 3px 0;
    font-family: inherit;
    font-size: 16px;
    letter-spacing: 0.1em;
    white-space: nowrap;
    cursor: pointer;
    border: none!important;
    transition: opacity .1s ease-out!important;

    &:hover {
        color: #fff !important;
        border: none!important;
        opacity: 0.8;
    }
}
.gsc-search-button.gsc-search-button-v2::before {
    display: inline;
    font-family: inherit;
    font-size: 16px;
    letter-spacing: 0.1em;
    white-space: nowrap;
    content: "検索";
    color: #ffffff;
}

.gsc-input-box {
    border: none!important;
    background: none!important;
}

.gsib_b {
    display: none!important;
}

#gs_tti50 .gsc-input {
    width: 100% !important;
    height: 45px !important;
    padding: 0 12px !important;
    min-width: 0 !important;
    border-radius: 3px 0 0 3px !important;
    border-right: none !important;
    border-left: 1px solid #ccc !important;
    border-top: 1px solid #ccc !important;
    border-bottom: 1px solid #ccc !important;
    box-sizing: border-box !important;
    font-size: 1.6rem !important;
    outline: none !important;

    &:focus {
        border: 1px solid $colorMain!important;
    }
}

.gsc-search-button.gsc-search-button-v2 svg {
    display: none;
}

table.gsc-search-box td.gsc-input {
    padding: 0!important;
}

.gsib_a {
    padding: 0!important;
}

.gsib_b {
    display: none!important;
}