@media screen and (min-width: 769px) {
  .c-btn01 .btn:hover,
.c-btn02 .btn:hover {
    transform: translateY(4px) scale(0.96);
    transition: 0.2s;
    box-shadow: none;
  }

  .header_nav_contact li a:hover {
    transform: scale(0.92);
    transition: 0.2s;
  }

  .works_list_image a:hover img {
    transform: scale(1.1);
    transition: 0.2s;
  }

  .works_list_caption .title a:hover {
    color: #53af9b;
  }

  .works_list_caption .url a:hover,
.footer_nav_list li a:hover {
    text-decoration: underline;
  }
}