@charset "UTF-8";
/*==============================================
　テキスト
==============================================*/
.eng {
  font-family: din-2014, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.txt {
  line-height: 1.7;
}

.t-green {
  color: #53af9b;
}
.t-orange {
  color: #edb451;
}

.marker {
  background: linear-gradient(transparent 60%, rgba(255, 220, 63, 0.4) 60%);
}

.dot {
  position: relative;
  display: inline-block;
}
.dot:before {
  content: "";
  width: 8px;
  height: 8px;
  background: #edb451;
  border-radius: 50%;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, 5px);
}

/*==============================================
　タイトル
==============================================*/
/*　c-title01
￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣*/
.c-title01 {
  text-align: center;
  line-height: 1.7;
  font-size: 4.4rem;
  font-weight: 900;
  margin-bottom: 72px;
}
.c-title01 small {
  font-size: 2.6rem;
}
.c-title01 + .txt {
  text-align: center;
  font-size: 1.8rem;
}

/*　c-title02
￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣*/
/*==============================================
　ボタン
==============================================*/
/*　c-btn01
￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣*/
.c-btn01 {
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
}
.c-btn01 .btn {
  display: block;
  padding: 24px;
  text-align: center;
  background: #edb451;
  border: 3px solid #fff;
  border-radius: 100px;
  font-size: 1.9rem;
  font-weight: bold;
  color: #fff;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.16);
  transition: 0.2s;
}

/*　c-btn02
￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣*/
.c-btn02 {
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
}
.c-btn02 .btn {
  display: block;
  padding: 24px;
  text-align: center;
  background: #53af9b;
  border: 3px solid #fff;
  border-radius: 100px;
  font-size: 1.9rem;
  font-weight: bold;
  color: #fff;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.16);
  transition: 0.2s;
}

/*==============================================
　リスト
==============================================*/
/*　c-list01
￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣*/