@charset "UTF-8";
@media only screen and (min-width: 1100px) {
  .mvCp img {
      max-width: 100%;
      width: auto;
  }
}
@media screen and (max-width: 1040px) {
  /*==========================
  　　　　　  Common
  ==========================*/
  .w10, .w20, .w30, .w40, .w50, .w60, .w70, .w80, .w90 {
    width: 100%;
  }

  .left_clm {
    float: left;
  }

  .right_clm {
    float: right;
  }

  /*==========================
  　　　　　　Header
  ==========================*/
  .header_logo {
    width: 200px;
  }
  .header_tel .num {
    font-size: 2.4rem;
  }
  .header_inner {
    height: 56px;
    padding: 0 16px;
  }
  .header_nav_contact {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    width: 100%;
  }
  .header_nav_contact li {
    margin: 0;
    width: 50%;
  }
  .header_nav_contact li a {
    border-radius: 0;
    width: 100%;
  }

  /*==========================
  　　　　　　Main
  ==========================*/
  /*　Common
  ￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣*/
  .c-title01 {
    margin-bottom: 40px;
    font-size: 3.2rem;
    line-height: 1.5;
  }

  .lpsc {
    padding: 64px 16px;
  }

  /*　TopPage
  ￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣*/
  #wrapper {
    margin-top: 96px;
  }

  .mv .outer {
    display: block;
  }
  .mv_top {
    transform: translateX(40px);
  }
  .mv_left, .mv_right {
    width: 100%;
  }
  .mv_left {
    max-width: 640px;
    width: 100%;
    margin: 0 auto 16px;
  }
  .mv_right {
    max-width: 440px;
    margin: 0 auto;
    transform: translateX(40px);
    z-index: 1;
  }
  .mv_kome {
    margin-top: 32px;
  }
  .mv_bottom {
    font-size: 1.6rem;
    line-height: 1.7;
    margin-top: 10px;
    margin-bottom: 32px;
  }
  .mv_top {
    margin-bottom: 16px;
  }
  .mv_top span {
    font-size: 2rem;
  }
  .mv_fuki li {
    font-size: 1.5rem;
    width: 130px;
    height: 150px;
  }
  .mv_fuki li:nth-child(1), .mv_fuki li:nth-child(2) {
    top: 24px;
  }
  .mv_cv .fuki {
    font-size: 1.8rem;
  }
  .mv_cv .inner:before {
    width: 180px;
    height: 137px;
  }
  .mv_cv .inner:after {
    width: 178px;
    height: 137px;
  }
  .mv_cv .c-btn01 {
    max-width: 400px;
  }

  .onayami:before {
    background-size: 640px;
  }
  .onayami_list {
    justify-content: center;
  }
  .onayami_list_txt {
    height: 200px;
    font-size: 1.7rem;
  }
  .onayami_list li {
    width: 200px;
    padding-bottom: 90px;
    margin: 0 16px;
  }
  .onayami_list li:nth-child(1) .onayami_list_illust {
    width: 80px;
  }
  .onayami_list li:nth-child(2) .onayami_list_illust {
    width: 90px;
  }

  .omakase {
    padding-top: 120px;
  }
  .omakase .c-title01 {
    padding: 0 80px;
  }
  .omakase .c-title01:before {
    width: 80px;
    height: 80px;
    transform: translate(70px, -50%);
  }
  .omakase .c-title01:after {
    width: 80px;
    height: 80px;
    transform: translate(-70px, -50%);
  }
  .omakase_list {
    justify-content: space-between;
  }
  .omakase_list li {
    width: 30%;
    margin: 0;
  }
  .omakase_list_content .title {
    font-size: 1.8rem;
  }

  .quick_movie {
    height: 320px;
  }
  .quick_movie video {
    transform: none;
  }
  .quick_list_image {
    width: 160px;
    height: 160px;
    padding: 24px;
    margin: 0 auto;
  }
  .quick_list_title {
    font-size: 1.7rem;
    margin-top: 8px;
  }
  .quick_list_title br {
    display: none;
  }

  .cv_btn {
    margin-bottom: 10px;
  }
  .cv_txt {
    font-size: 3rem;
  }
  .cv_txt img {
    width: 300px;
  }
  .cv_box {
    height: 360px;
  }
  .cv_box .inner:before, .cv_box .inner:after {
    bottom: -104px;
  }
  .cv_box .inner:before {
    width: 235px;
    height: 182px;
    right: calc(100% - 188px);
  }
  .cv_box .inner:after {
    width: 235px;
    height: 188px;
    left: calc(100% - 188px);
  }
  .cv_box .c-btn01 {
    max-width: 400px;
    position: relative;
    z-index: 2;
  }

  .works .c-title01 {
    font-size: 2.4rem;
  }

  .reason_list li {
    padding: 40px;
    display: block;
  }
  .reason_list_image, .reason_list_content {
    width: 100%;
  }
  .reason_list_image {
    max-width: 400px;
    margin: 0 auto 32px;
  }

  .support_inner {
    display: block;
  }
  .support_inner li {
    width: 100%;
  }
  .support_inner li:nth-child(odd) {
    margin-right: 0;
  }
  .support_inner li + li {
    margin-top: 24px;
  }
  .support .c-title01 {
    padding: 0 80px;
  }
  .support .c-title01:before, .support .c-title01:after {
    width: 100px;
    height: 100px;
  }

  .flow_list {
    display: block;
  }
  .flow_list li {
    width: 100%;
  }
  .flow_list li + li {
    margin-top: 24px;
  }
  .flow_list_content .title {
    min-height: auto;
  }

  .plan_box_title:before {
    width: 100px;
    height: 100px;
  }
  .plan_box_content {
    padding: 40px 0;
  }
  .plan_box_content .tb tbody tr td .content {
    font-size: 2rem;
  }

  .spec_content_box .title {
    font-size: 2rem;
  }
  .spec_content_box .price {
    font-size: 2rem;
  }

  .faq_list_box dt {
    font-size: 2rem;
    padding: 24px 64px;
  }

  .footer {
    margin-bottom: 59px;
  }
  .footer_contact_content {
    display: block;
  }
  .footer_contact_left, .footer_contact_right {
    width: 100%;
  }
  .footer_contact_right {
    margin-top: 32px;
  }

  /*==========================
  　　　　　　Footer
  ==========================*/
}
@media screen and (min-width: 561px) {
  .sp-only {
    display: none!important;
  }
}
@media screen and (max-width: 560px) {
  .pc-only {
    display: none!important;
  }
  .header {
    top: 0;
  }
  .header_logo {
    width: 160px;
  }
  .header_tel {
    padding-left: 20px;
    background-position: left top 3px;
    background-size: 16px;
  }
  .header_tel .num {
    font-size: 2rem;
  }

  .mv_top {
    transform: translateX(24px);
  }
  .mv_bottom {
    font-size: 1.4rem;
  }
  .mv_right {
    width: calc(100% - 64px);
    padding-top: 48px;
  }
  .mv_fuki li {
    font-size: 1.3rem;
    width: 114px;
    height: 140px;
  }
  .mv_fuki li:nth-child(1) {
    top: 0;
    left: -80px;
  }
  .mv_fuki li:nth-child(2) {
    top: 0;
    left: 72px;
  }
  .mv_fuki li:nth-child(3) {
    top: 100px;
    left: -4px;
  }

  .c-title01 {
    font-size: 2.3rem;
  }

  .lpsc {
    padding: 40px 16px;
  }
  .quick_movie {
    height: 270px;
  }
  .onayami .c-title01:after {
    width: 56px;
    height: 30px;
    transform: translateX(117px);
  }
  .onayami .c-title01 small {
    font-size: 2rem;
  }
  .onayami_list {
    display: block;
  }
  .onayami_list li {
    margin: 0 auto;
  }
  .onayami_list li + li {
    margin-top: 32px;
  }

  .omakase {
    padding-top: 120px;
  }
  .omakase_list {
    display: block;
  }
  .omakase_list li {
    margin: 0 auto;
    width: 100%;
  }
  .omakase_list li + li {
    margin-top: 32px;
  }
  .omakase_list_content .title {
    min-height: auto;
  }
  .omakase_start {
    padding: 24px;
  }
  .omakase .c-title01 {
    padding: 0;
  }
  .omakase .c-title01:before, .omakase .c-title01:after {
    display: none;
  }

  .quick .inner {
    padding-top: 48px;
  }
  .quick_movie video {
    width: auto;
    height: 100%;
  }
  .quick_fuki span {
    width: 100%;
    font-size: 1.7rem;
  }
  .quick_list {
    display: block;
  }
  .quick_list li {
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
  .quick_list li + li {
    margin-top: 32px;
  }
  .quick_app_content {
    padding: 32px 16px;
  }
  .quick_app_title {
    font-size: 1.7rem;
  }

  .cv_txt {
    font-size: 2.6rem;
    margin-bottom: 20px;
  }
  .cv_txt img {
    width: 200px;
  }
  .cv_box .inner:before, .cv_box .inner:after {
    bottom: -80px;
    z-index: 3;
  }
  .cv_box .inner:before {
    width: 148px;
    height: 113px;
    right: calc(100% - 123px);
  }
  .cv_box .inner:after {
    width: 148px;
    height: 188px;
    left: calc(100% - 128px);
  }

  .works .c-title01 {
    font-size: 2rem;
  }
  .works_list li,
.works_list li:nth-child(3n),
.works_list li:nth-child(-n+3) {
    width: 45%;
    margin-right: 0;
    margin-top: 0;
  }
  .works_list li:nth-child(odd),
.works_list li:nth-child(3n):nth-child(odd),
.works_list li:nth-child(-n+3):nth-child(odd) {
    margin-right: 10%;
  }
  .works_list li:not(:nth-child(-n+2)) {
    margin-top: 32px;
  }

  .support_list_title span {
    font-size: 2rem;
  }
  .support_list_title + .txt {
    padding: 0 16px;
  }
  .support_inner {
    padding: 32px 16px 40px;
  }
  .support_inner li {
    padding-top: 40px;
  }
  .support_inner_image {
    width: 64px;
    padding: 0 16px 10px;
    height: 77px;
  }
  .support_list_box:first-child .support_inner li:nth-child(2) .support_inner_image img {
    width: 20px;
  }
  .support_list_box:last-child .support_inner li .support_inner_content {
    padding-bottom: 24px;
  }
  .support_inner_content {
    padding: 45px 16px 10px;
  }
  .support_inner_content .title {
    font-size: 1.8rem;
  }
  .support_inner_content .tel .num {
    font-size: 3.5rem;
  }
  .support .c-title01 {
    padding: 0;
  }
  .support .c-title01:before, .support .c-title01:after {
    display: none;
  }
  .support_list_box + .support_list_box {
    margin-top: 40px;
  }
  .support_inner li + li,
  .support_inner li:not(:nth-child(-n+2)) {
    margin-top: 10px;
  }
  .support_list_title + .txt {
    font-size: 1.6rem;
    text-align: left;
  }
  .plan_box_title {
    font-size: 2.6rem;
  }
  .plan_box_title:before {
    width: 72px;
    height: 72px;
    left: 0;
  }
  .plan_box_content .c-btn02 {
    margin-top: 24px;
    width: calc(100% - 32px);
  }

  .spec_title span {
    font-size: 1.6rem;
    padding: 0 16px;
    line-height: 1.4;
  }
  .spec_content_box .price .eng {
    font-size: 3rem;
  }

  .faq_list_box dt {
    padding: 24px 48px;
    font-size: 1.7rem;
  }
  .faq_list_box dt:before, .faq_list_box dt:after {
    right: 16px;
  }
  .faq_list_box dt span:before {
    width: 26px;
    height: 31px;
    right: calc(100% + 10px);
    top: 50%;
    transform: translateY(-50%);
  }

  .footer_contact .txt {
    font-size: 2rem;
  }
  .footer_contact_left, .footer_contact_right {
    padding: 0;
  }
  .footer_nav_list {
    display: block;
  }
  .footer_nav_list li {
    margin: 0;
    border-top: 1px solid #f7f7f7;
  }
  .footer_nav_list li a {
    display: block;
    padding: 24px 0;
    position: relative;
  }
  .footer_nav_list li a:after {
    content: "";
    width: 5px;
    height: 5px;
    border-top: 1px solid #53af9b;
    border-right: 1px solid #53af9b;
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%) rotate(45deg);
  }
  .footer_nav_list li:last-child {
    border-bottom: 1px solid #f7f7f7;
  }
  .mv_top span:before {
    width: 56px;
    height: 64px;
    left: -40px;
  }
  .mv_cv .inner:before {
    width: 150px;
    height: 114px;
  }
  .mv_cv .inner:after {
    width: 146px;
    height: 113px;
  }
  .c-btn01 .btn,
  .c-btn02 .btn {
    font-size: 1.7rem;
  }
  .quick_app {
    margin-top: 56px;
  }
  .quick_app:before {
    width: 32px;
    height: 32px;
  }
  .cv_txt img {
    padding: 0 10px;
  }
  .cv_btn {
    margin-bottom: 40px;
    margin-top: -40px;
  }
  .mv_cv .cv_btn {
    margin-bottom: 10px;
    margin-top: -5px;
  }
  .quick {
    padding-bottom: 56px;
  }
  .cv_box {
    height: 400px;
    padding: 0 16px;
  }
  .reason_list li:before {
    font-size: 1.2rem;
  }
  .reason_list li:nth-child(odd):before {
    width: 176px;
    padding: 48px 0 0 116px;
  }
  .reason_list li:nth-child(even):before {
    width: 170px;
  }
  .reason_list li:after {
    bottom: calc(100% + 15px);
    font-size: 4rem;
  }
  .reason_list li:nth-child(odd):after {
    left: 132px;
  }
  .reason_list li:nth-child(even):before {
    padding: 48px 109px 0 0;
  }
  .reason_list li:nth-child(even):after {
    right: 123px;
  }
  .reason_list li {
    margin-top: 114px;
    padding: 24px;
  }
  .reason_list_content .title {
    font-size: 2.2rem;
  }
  .reason_list_image {
    max-width: 220px;
  }
  .support_inner_content .c-btn02 {
    margin-top: 10px;
  }
  .flow_list + .c-btn01 {
    margin-top: 24px;
  }
  .plan_box_content .price {
    font-size: 2.4rem;
  }
  .plan_box_content .price .eng {
    font-size: 6.4rem;
    margin: 0 8px;
  }
  .plan_box_content {
    padding: 24px 16px;
  }
  .plan_box_content .tb {
    margin-top: 32px;
  }
  .plan_box_content .tb tbody tr td {
    padding: 8px 10px;
  }
  .plan_box_content .tb tbody tr td .title {
    font-size: 1.2rem;
  }
  .plan_box_content .c-btn01 {
    margin-top: 16px;
  }
  .spec {
    padding-bottom: 32px;
    margin-top: 56px;
  }
  .faq_list_box dt {
    padding: 16px 48px;
    font-size: 1.6rem;
    line-height: 1.4;
  }
  .faq_txt {
    margin-top: 32px;
  }
  .flow .c-title01 {
    margin-bottom: 24px;
  }
}


@media only screen and (min-width: 0) and (max-width: 560px){
  #wrapper {
    margin-top: 50px;
  }
}

.specialCp {
  padding: 60px 0;
}
.specialCp_txt {
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.4;
}
.specialCp_txt .orange {
  color: #f88522;
}
.specialCp_txt .amazon_en {
  font-family: Verdana,Roboto,"Noto Sans JP","Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
}
.specialCp_txt .amazon_ja {
  font-family: "MS PGothic",Roboto,"Noto Sans JP","Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
}
.specialCp_img {
  display: block;
  width: 772px;
  max-width: 92vw;
  margin: 0 auto;
  transition: .2s;
}
.specialCp_img:hover {
  opacity: .7;
}
@media screen and (max-width: 560px) {
  .specialCp {
    padding: 40px 0;
  }
}