@charset "UTF-8";

@media screen and (max-width: 767px) {
  .tab-only {
    display: none !important;
  }
}

@media only screen and (min-width: 1100px) {
  .mvCp img {
    max-width: 100%;
    width: auto;
  }
}

@media screen and (min-width: 1041px) {
  .tab-only {
    display: none !important;
  }
}

@media screen and (max-width: 1040px) {

  /*　Common
  ￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣*/
  .w10, .w20, .w30, .w40, .w50, .w60, .w70, .w80, .w90 {
    width: 100%;
  }

  .left_clm {
    float: left;
  }

  .right_clm {
    float: right;
  }

  /*　CTA
  ￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣*/
  .cv_btn {
    margin-bottom: 10px;
  }

  .cv_txt {
    font-size: 3rem;
  }

  .cv_txt img {
    width: 300px;
  }

  .cv_box {
    height: 360px;
  }

  .cv_box .inner:before, .cv_box .inner:after {
    bottom: -104px;
  }

  .cv_box .inner:before {
    width: 235px;
    height: 182px;
    right: calc(100% - 188px);
  }

  .cv_box .inner:after {
    width: 235px;
    height: 188px;
    left: calc(100% - 188px);
  }

  .cv_box .c-btn01 {
    max-width: 400px;
    position: relative;
    z-index: 2;
  }

  /*　Header
  ￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣*/
  .header_logo {
    width: 200px;
  }

  .header_tel .num {
    font-size: 2.4rem;
  }

  .header_inner {
    height: 56px;
    padding: 0 16px;
    justify-content: center;
  }

  .header_nav_contact {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    width: 100%;
  }

  .header_nav_contact li {
    margin: 0;
    width: 50%;
  }

  .header_nav_contact li a {
    border-radius: 0;
    width: 100%;
  }

  /*　Common
  ￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣*/
  .c-title01 {
    margin-bottom: 40px;
    font-size: 3.2rem;
    line-height: 1.5;
  }

  .lpsc {
    padding: 64px 16px;
  }

  /*　MV
  ￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣*/
  .mv .outer {
    display: block;
  }

  .mv {
    padding: 20px 16px 0;
  }

  .mv_left_text {
    transform: translateX(0);
    left: 8%;
  }

  .mv_left_text img {
    width: 80%;
  }

  .mv_left {
    width: 100%;
    margin: 0 auto 16px;
    text-align: center;
  }

  .mv_kome {
    margin-top: 32px;
  }

  .mv_bottom {
    font-size: 3rem;
    line-height: 1.7;
    margin-top: 10px;
    margin-bottom: 32px;
  }

  .mv_top {
    margin-bottom: 3rem;
  }

  .mv_top span {
    font-size: 3rem;
    left: 2%;
    padding: .7rem 4rem 1rem 2.5rem;
  }

  .mv_catch_pc {
    display: none;
  }

  .mv_right {
    display: none;
  }

  .fukidashi {
    display: flex;
    justify-content: space-between;
    width: 65%;
    min-width: 500px;
    margin: 2rem auto;
  }

  .fukidashi img {
    width: 32%;
  }

  .mv_fuki {
    display: none!important;
  }

  .mv_cv {
    height: 220px;
  }

  .mv_cv .inner:before {
    width: 180px;
    height: 137px;
  }

  .mv_cv .inner:after {
    width: 178px;
    height: 137px;
  }

  .mv_cv .c-btn01 {
    max-width: 400px;
  }

  /*　メニュー
  ￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣*/
  .menu_link p {
    font-size: 1.7rem;
  }

  .menu_link ul {
    margin: 1.5rem 0 2rem;
  }

  .menu_link ul li:last-child {
    border-right: none;
  }

  .menu_link ul li:first-child {
    border-left: none;
  }

  /*　Section -- こんなお悩み
  ￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣*/
  .onayami:before {
    background-size: 640px;
  }

  .onayami_list {
    justify-content: center;
  }

  .onayami_list_txt {
    height: 200px;
    font-size: 1.7rem;
  }

  .onayami_list li {
    width: 200px;
    padding-bottom: 90px;
    margin: 0 16px;
  }

  .onayami_list li:nth-child(1) .onayami_list_illust {
    width: 80px;
  }

  .onayami_list li:nth-child(2) .onayami_list_illust {
    width: 90px;
  }

  /*　Section -- エックスサーバーにおまかせください
  ￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣*/
  .omakase {
    padding-top: 120px;
  }

  .omakase .c-title01 {
    padding: 0 80px;
  }

  .omakase .c-title01:before {
    width: 80px;
    height: 80px;
    transform: translate(80px, -50%);
  }

  .omakase .c-title01:after {
    width: 80px;
    height: 80px;
    transform: translate(-80px, -50%);
  }

  .omakase_list {
    justify-content: space-between;
  }

  .omakase_list li {
    width: 30%;
    margin: 0;
  }

  .omakase_list_content .title {
    font-size: 1.8rem;
  }

  /*　Section -- WordPressクイックスタートとは
  ￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣*/
  .quick_movie {
    height: 320px;
  }

  .quick_movie video {
    transform: none;
  }

  .quick_list_image {
    width: 160px;
    height: 160px;
    padding: 15px;
    margin: 0 auto;
  }

  .quick_list_title {
    font-size: 1.7rem;
    margin-top: 8px;
  }

  .quick .check ul li {
    margin-bottom: 1rem;
  }

  /*　Section -- 事例
  ￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣*/
  .works .c-title01 {
    font-size: 2.4rem;
  }

  /*　Section -- 3つの理由
  ￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣*/
  .reason_list li {
    padding: 40px;
    display: block;
  }

  .reason_list_content .title {
    text-align: center;
  }

  .reason_list_image, .reason_list_content {
    width: 80%;
    margin: 0 auto 2rem;
  }

  .reason_list_image {
    width: 100%;
    margin: 0 0 4rem;
    display: flex;
    justify-content: center;
    align-items: baseline;
    position: relative;
  }

  .reason_human {
    width: 200px;
    margin-right: 2rem;
  }

  .reason_img {
    width: 250px;
  }

  .reason_list li:nth-child(1) {
    margin-top: 80px;
  }

  .reason_list li:nth-child(1):before {
    content: '';
    display: inline-block;
    background-image: url(../img/reason_fukidashi_01.svg);
    background-size: contain;
    vertical-align: middle;
    position: absolute;
    width: 120px;
    height: 130px;
    top: -50px;
    left: 90px;
  }

  .reason_list li:nth-child(2) {
    margin-top: 70px;
  }

  .reason_list li:nth-child(2):before {
    content: '';
    display: inline-block;
    background-image: url(../img/reason_fukidashi_02.svg);
    background-size: contain;
    vertical-align: middle;
    position: absolute;
    width: 120px;
    height: 130px;
    top: -50px;
    right: 110px;
  }

  .reason_list li:nth-child(3) {
    margin-top: 70px;
  }

  .reason_list li:nth-child(3):before {
    content: '';
    display: inline-block;
    background-image: url(../img/reason_fukidashi_03.svg);
    background-size: contain;
    vertical-align: middle;
    position: absolute;
    width: 120px;
    height: 130px;
    top: -50px;
    left: 90px;
  }

  /*　Section -- サポートもばっちり
  ￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣*/

  .support .c-title01 {
    padding: 0 80px;
  }

  .support .c-title01:before, .support .c-title01:after {
    width: 100px;
    height: 100px;
  }

  .support .c-title01:before {
    transform: translate(90%, -50%);
  }

  .support .c-title01:after {
    transform: translate(-90%, -50%);
  }

  .support_inner_content {
    padding: 56px 20px 32px;
  }

  /*　Section -- お申し込みの流れ
  ￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣*/
  .flow_list {
    display: block;
  }

  .flow_list li {
    width: 100%;
  }

  .flow_list li + li {
    margin-top: 24px;
  }

  .flow_list_content .title {
    min-height: auto;
  }

  /*　Section -- おすすめのプランはこちら
  ￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣*/
  .plan_box_title:before {
    width: 100px;
    height: 100px;
  }

  .plan_box_content {
    padding: 40px 0;
  }

  .plan_box_content .tb tbody tr td .content {
    font-size: 2rem;
  }

  .payment_box img {
    width: 80px;
  }

  .spec_content_box .title {
    font-size: 2rem;
  }

  .spec_content_box .price {
    font-size: 2rem;
  }

  /*　Section -- よくある質問
  ￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣*/
  .faq_list_box dt {
    font-size: 2rem;
    padding: 24px 64px;
  }

  /*　Footer
  ￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣*/
  .footer {
    margin-bottom: 59px;
  }

  .footer_contact_content {
    display: block;
  }

  .footer_contact_left, .footer_contact_right {
    width: 100%;
  }

  .footer_contact_right {
    margin-top: 32px;
  }
}