@charset "euc-jp";

//=============================================================
//
//  単機能の汎用的なクラス（.cf、.mb10など）
//
//=============================================================

//-------------------------------------------------------------
//  マージン、パディング
//-------------------------------------------------------------
.m0 {
    margin: 0 !important;
}

$i: 0;
@while $i <= 50 {
    .mt#{$i} {
        margin-top: #{$i}px !important;
    }
    .mb#{$i} {
        margin-bottom: #{$i}px !important;
    }
    .ml#{$i} {
        margin-left: #{$i}px !important;
    }
    .mr#{$i} {
        margin-right: #{$i}px !important;
    }

    .p#{$i} {
        padding: #{$i}px !important;
    }
    .pt#{$i} {
        padding-top: #{$i}px !important;
    }
    .pb#{$i} {
        padding-bottom: #{$i}px !important;
    }
    .pl#{$i} {
        padding-left: #{$i}px !important;
    }
    .pr#{$i} {
        padding-right: #{$i}px !important;
    }

    $i: $i + 5;
}

//-------------------------------------------------------------
//  幅指定(%)
//-------------------------------------------------------------
$i: 5;
@while $i <= 100 {
    .w#{$i}per {
        width: #{$i + '%'} !important;
    }

    @each $key, $val in $breakpoints {
        @media #{$val} {
            .w#{$i + 'per' + to_upper_case($key)} {
                width: #{$i + '%'} !important;
            }
        }
    }

    $i: $i + 5;
}

//-------------------------------------------------------------
//  フロート
//-------------------------------------------------------------
.fl {
    float: left !important;
}

.fr {
    float: right !important;
}

//-------------------------------------------------------------
//  テキスト系
//-------------------------------------------------------------
.tal {
    text-align: left !important;
}

.tar {
    text-align: right !important;
}

.tac {
    text-align: center !important;
}

.break-all {
    word-break: break-all !important;
}

//-------------------------------------------------------------
//  表示系
//-------------------------------------------------------------
.disp-n {
    display: none !important;
}

.disp-i {
    display: inline !important;
}

.disp-ib {
    display: inline-block !important;
}

.disp-b {
    display: block !important;
}

//-------------------------------------------------------------
//  フォント系
//-------------------------------------------------------------
.font-normal {
    font-weight: normal !important;
}

.font-bold {
    font-weight: bold !important;
}

.font-xs { font-size: 10px !important; }
.font-s { font-size: 12px !important; }
.font-m { font-size: 14px !important; }
.font-l { font-size: 16px !important; }
.font-xl { font-size: 18px !important; }

//-------------------------------------------------------------
//  カラー系
//-------------------------------------------------------------
.base-color { color: $colorMain !important; }
.orange { color: #f88522 !important; }
.yellow { color: #ecc200 !important; }
.bright-yellow { color: #eca700 !important; }
.red_two { color: #BF1517 !important; }
.red { color: #eb1010 !important; }
.light-blue { color: #87b4de !important; }
.green { color: #00a498 !important; }
.light-green { color: #6cc104 !important; }
.light-gray { color: #ccc !important; }
.dark-gray { color: #aaa !important; }
.white { color: #fff !important; }

//-------------------------------------------------------------
//  Clearfix
//-------------------------------------------------------------
.clear {
    clear: both;
}

.clearfix:before, .clearfix:after,
.cf:before, .cf:after {
    content: " ";
    display: table;
}

.clearfix:after, .cf:after {
    clear: both;
}

.clearfix, .cf {
    *zoom: 1;
}

//-------------------------------------------------------------
//  可変幅
//-------------------------------------------------------------
// 常に100%
.fluid {
    display: block;
    width: 100%;
}

@include mediaQueryS {
    .fluid-s,
    .fluid-sm {
        display: block;
        width: 100%;
    }
}

@include mediaQueryM {
    .fluid-m,
    .fluid-sm {
        display: block;
        width: 100%;
    }
}

// 画像幅以下の場合のみ100%
.flex {
    max-width: 100%;
}

//-------------------------------------------------------------
//  表示・非表示設定
//-------------------------------------------------------------
@include mediaQueryS {
    .visible-m {
        display: none !important;
    }
    .visible-l {
        display: none !important;
    }
    .hidden-s {
        display: none !important;
    }
}

@include mediaQueryM {
    .visible-s {
        display: none !important;
    }
    .visible-l {
        display: none !important;
    }
    .hidden-m {
        display: none !important;
    }
}

@include mediaQueryL {
    .visible-s {
        display: none !important;
    }
    .visible-m {
        display: none !important;
    }
    .hidden-l {
        display: none !important;
    }
}

//-------------------------------------------------------------
//  ホバーエフェクト
//-------------------------------------------------------------
.hover {
    @include mediaQueryL {
        -webkit-transition: opacity .1s ease-out;
        -o-transition: opacity .1s ease-out;
        transition: opacity .1s ease-out;

        &:hover {
            opacity: .8;
            filter: alpha(opacity=80);
            -ms-filter: "alpha(opacity=80)";
            -khtml-opacity: .8;
            -moz-opacity: .8;
        }
    }
}
