@charset "euc-jp";

// =============================================================
//
//   変数
//
// =============================================================

// -------------------------------------------------------------
//   カラー
// -------------------------------------------------------------
$colorMain: #1b63a7;

// -------------------------------------------------------------
//   サイズ
// -------------------------------------------------------------
$widthPC: 1030px;
$headerHeightSP: 50px;

// -------------------------------------------------------------
//   メディアクエリ
// -------------------------------------------------------------
$breakpointS: "only screen and (min-width: 0) and (max-width: 767px)";
$breakpointM: "only screen and (min-width: 768px) and (max-width: " + ($widthPC - 1) + ")";
$breakpointL: "only screen and (min-width: " + $widthPC + ")";
$breakpointSM: "only screen and (max-width: " + ($widthPC - 1) + ")";
$breakpointML: "only screen and (min-width: 768px)";
$breakpoints: (
    s: $breakpointS,
    m: $breakpointM,
    l: $breakpointL,
    sm: $breakpointSM,
    ml: $breakpointML
);
