@charset "euc-jp";

//=============================================================
//
//  単機能の汎用的なクラス（.cf、.mb10など）
//
//=============================================================

//-------------------------------------------------------------
//  マージン、パディング
//-------------------------------------------------------------
.m0 {
    margin: 0 !important;
}

$i: 0;
@while $i <= 50 {
    .mt#{$i} {
        margin-top: #{$i}px !important;
    }
    .mb#{$i} {
        margin-bottom: #{$i}px !important;
    }
    .ml#{$i} {
        margin-left: #{$i}px !important;
    }
    .mr#{$i} {
        margin-right: #{$i}px !important;
    }

    .p#{$i} {
        padding: #{$i}px !important;
    }
    .pt#{$i} {
        padding-top: #{$i}px !important;
    }
    .pb#{$i} {
        padding-bottom: #{$i}px !important;
    }
    .pl#{$i} {
        padding-left: #{$i}px !important;
    }
    .pr#{$i} {
        padding-right: #{$i}px !important;
    }

    $i: $i + 5;
}

//-------------------------------------------------------------
//  幅指定(%)
//-------------------------------------------------------------
$i: 5;
@while $i <= 100 {
    .w#{$i}per {
        width: #{$i + '%'} !important;
    }

    @each $key, $val in $breakpoints {
        @media #{$val} {
            .w#{$i + 'per' + to_upper_case($key)} {
                width: #{$i + '%'} !important;
            }
        }
    }

    $i: $i + 5;
}

//-------------------------------------------------------------
//  フロート
//-------------------------------------------------------------
.fl {
    float: left !important;
}

.fr {
    float: right !important;
}

//-------------------------------------------------------------
//  テキスト系
//-------------------------------------------------------------
.tal {
    text-align: left !important;
}

.tar {
    text-align: right !important;
}

.tac {
    text-align: center !important;
}

.breakAll {
    word-break: break-all !important;
}

//-------------------------------------------------------------
//  表示系
//-------------------------------------------------------------
.dispN {
    display: none !important;
}

.dispI {
    display: inline !important;
}

.dispIB {
    display: inline-block !important;
}

.dispB {
    display: block !important;
}

//-------------------------------------------------------------
//  フォント系
//-------------------------------------------------------------
.fontNormal {
    font-weight: normal !important;
}

.fontBold {
    font-weight: bold !important;
}

.font10 { font-size: 1rem !important; }
.font12 { font-size: 1.2rem !important; }
.font14 { font-size: 1.4rem !important; }
.font16 { font-size: 1.6rem !important; }
.font18 { font-size: 1.8rem !important; }

//-------------------------------------------------------------
//  カラー系
//-------------------------------------------------------------
.baseColor { color: $colorMain !important; }

//-------------------------------------------------------------
//  Clearfix
//-------------------------------------------------------------
.clear {
    clear: both;
}

.clearfix:before, .clearfix:after,
.cf:before, .cf:after {
    content: " ";
    display: table;
}

.clearfix:after, .cf:after {
    clear: both;
}

.clearfix, .cf {
    *zoom: 1;
}

//-------------------------------------------------------------
//  可変幅
//-------------------------------------------------------------
// 常に100%
.fluid {
    display: block;
    width: 100%;
}

@include mediaQueryS {
    .fluidS,
    .fluidSM {
        display: block;
        width: 100%;
    }
}

@include mediaQueryM {
    .fluidM,
    .fluidSM {
        display: block;
        width: 100%;
    }
}

// 画像幅以下の場合のみ100%
.flex {
    max-width: 100%;
}

//-------------------------------------------------------------
//  表示・非表示設定
//-------------------------------------------------------------
@include mediaQueryS {
    .visibleM {
        display: none !important;
    }
    .visibleL {
        display: none !important;
    }
    .hiddenS {
        display: none !important;
    }
}

@include mediaQueryM {
    .visibleS {
        display: none !important;
    }
    .visibleL {
        display: none !important;
    }
    .hiddenM {
        display: none !important;
    }
}

@include mediaQueryL {
    .visibleS {
        display: none !important;
    }
    .visibleM {
        display: none !important;
    }
    .hiddenL {
        display: none !important;
    }
}

#policy {
    .policy {
        &__ttl--secondary {
            font-weight: bold;
            font-size: 1.4em;
        }
        &__section {
            margin-bottom: 2em;
        }
    }

    .list {
        margin-left: 1em;

        li {
            margin-left: 1em;
            list-style-type: disc;
        }
    }

    .definition {
        margin-left: 0.5em;
        dt {
            font-weight: bold;
        }
        dd {
            margin-bottom: 10px;
        }
    }

    .inquiry {
        background: #eee;
        padding: 1.2em;
    }
}

//-------------------------------------------------------------
//  ホバーエフェクト
//-------------------------------------------------------------
.hover {
    @include mediaQueryL {
        -webkit-transition: opacity .1s ease-out;
        -o-transition: opacity .1s ease-out;
        transition: opacity .1s ease-out;

        &:hover {
            opacity: .8;
            filter: alpha(opacity=80);
            -ms-filter: "alpha(opacity=80)";
            -khtml-opacity: .8;
            -moz-opacity: .8;
        }
    }
}

