@charset "euc-jp";

// ▼ 変数、ミックスインなどSass用定義
@import 'variable';
@import 'mixin';
// ▼ 単機能の汎用的なクラス（.cf、.mb10など）
@import 'utility';
// ▼ 基本設定（リセットなど）
@import 'base';


// -------------------------------------------------------------
//   リスト
// -------------------------------------------------------------
.ul {
    list-style: disc;
    margin-bottom: 1rem;
    padding-left: 3rem;
}

// -------------------------------------------------------------
//   注釈
// -------------------------------------------------------------
.note {
    text-indent: -1em;
    padding-left: 1em;
    font-size: 1.2rem;
}


// -------------------------------------------------------------
//   幅固定枠
// -------------------------------------------------------------
.holder {
    width: $widthPC;
    margin-left: auto;
    margin-right: auto;

    @include mediaQuerySM {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding-left: 10px;
        padding-right: 10px;
    }
}

// -------------------------------------------------------------
//   ヘッダー
// -------------------------------------------------------------
.header {
    text-align: center;
}

.header__logoArea {
    padding: 20px 0;
    background: #fff;

    @include mediaQueryS {
        padding: 10px 0;
    }

    @include mediaQueryM {
        padding: 15px 0;
    }

    img {
        width: 150px;

        @include mediaQueryS {
            width: 100px;
        }

        @include mediaQueryM {
            width: 120px;
        }
    }
}

.header__ttlArea {
    padding: 5.5rem 0;
    background: -moz-linear-gradient(top, #1c62a5, #286fb3);
    background: -webkit-linear-gradient(top, #1c62a5, #286fb3);
    background: linear-gradient(to bottom, #1c62a5, #286fb3);
    color: #fff;

    @include mediaQueryS {
        padding: 3rem 0;
    }

    @include mediaQueryM {
        padding: 4rem 0;
    }

    h1 {
        margin-bottom: 10px;
        font-size: 3rem;

        @include mediaQueryS {
            margin-bottom: 5px;
            font-size: 2rem;
        }
    }

    p {
        margin-bottom: 0;
        opacity: .7;

        @include mediaQueryS {
            font-size: 1.4rem;
        }
    }
}

// -------------------------------------------------------------
//   フッター
// -------------------------------------------------------------
.footer {
    padding: 3rem 0;
    background: #333;
    text-align: center;
    color: #fff;
    font-size: 1.4rem;

    @include mediaQueryS {
        padding: 1.5rem 0;
    }

    @include mediaQueryM {
        padding: 2rem 0;
    }

    p {
        margin: 0;
    }
}

// -------------------------------------------------------------
//   先頭に戻るボタン
// -------------------------------------------------------------
.pageTopBtn {
    position: fixed;
    bottom: -65px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    transition: bottom ease-out .2s;
}

// -------------------------------------------------------------
//   イントロダクション
// -------------------------------------------------------------
.intro {
    padding: 3rem 0 4rem;
    background: #fff;
    text-align: center;

    @include mediaQuerySM {
        padding: 2rem 0 3rem;
        text-align: left;
    }
}

.intro__text {
    margin-bottom: 3rem;

    @include mediaQuerySM {
        margin-bottom: 2rem;
    }
}

.intro__toc {
    display: flex;
    align-items: center;
    width: 650px;
    margin: 0 auto;
    padding: 3rem 0;
    background: #fff;
    border: 1px solid $colorMain;
    border-radius: 6px;

    @include mediaQueryS {
        display: block;
        width: 100%;
        padding: 1.5rem 2rem;
    }

    h2 {
        padding: 0 40px;
        text-align: center;

        @include mediaQueryS {
            margin-bottom: 1rem;
            padding: 0 0 1rem;
            border-bottom: 1px solid #ccc;
        }
    }

    ol {
        padding: 0 30px 0 40px;
        border-left: 1px solid #ccc;
        text-align: left;
        list-style: decimal;

        @include mediaQueryS {
            padding: 0;
            border: none;
        }

        li {
            margin-bottom: 1rem;
            margin-left: 2rem;
            font-size: 1.4rem;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

// -------------------------------------------------------------
//   セクション
// -------------------------------------------------------------
.section {
    padding: 4rem 0 7rem;

    @include mediaQueryS {
        padding: 3rem 0 4rem;
    }

    @include mediaQueryM {
        padding-bottom: 5rem;
    }
}

.section--colored {
    background: #eaeff3;
}

.section__ttl {
    margin-bottom: 3rem;
    text-align: center;
    font-size: 2.8rem;
    font-weight: bold;

    @include mediaQueryS {
        font-size: 2rem;
        margin-bottom: 2.5rem;
    }
}

.section__description {
    margin-bottom: 4rem;
    text-align: center;

    @include mediaQueryS {
        text-align: left;
        margin-bottom: 3rem;
    }
}

.section__body {
    &:last-child {
        margin-bottom: 0;
    }
}

// -------------------------------------------------------------
//   新Xserverアカウント概要
// -------------------------------------------------------------
.overviewImageArea {
    margin-bottom: 5rem;
    text-align: center;

    @include mediaQueryS {
        margin-bottom: 3rem;
    }

    img {
        max-width: 100%;
    }
}

.point {
    display: flex;

    @include mediaQueryS {
        display: block;
        margin-bottom: 3rem;
    }
}

.point__item {
    width: 310px;
    margin-left: 35px;

    &:first-child {
        margin-left: 0;
    }

    @include mediaQueryS {
        width: 100%;
        margin-left: 0;
        margin-bottom: 3rem;
    }

    @include mediaQueryM {
        width: 30%;
    }

    h3 {
        margin-bottom: 1.5rem;
        text-align: center;
        font-size: 2rem;

        @include mediaQueryS {
            font-size: 1.8rem;
            margin-bottom: 1rem;
        }
    }

    img {
        display: block;
        margin: 0 auto 2rem;

        @include mediaQueryS {
            width: 100px;
            margin-bottom: 1rem;
        }
    }

    p {
        margin-bottom: 0;
        font-size: 1.4rem;

        @include mediaQueryS {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

// -------------------------------------------------------------
//   リリーススケジュール
// -------------------------------------------------------------
.scheduleUnitContainer {
    > :last-child {
        margin-bottom: 0;
    }
}

.scheduleUnit {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0 0 3.1rem;
    padding: 28px;
    background: #fff;
    border: 1px solid $colorMain;
    border-radius: 6px;

    @include mediaQueryS {
        display: block;
        padding: 20px;
    }

    &::before {
        z-index: 1;
        content: "";
        position: absolute;
        bottom: -32px;
        left: 50%;
        margin-left: -10px;
        border: 10px solid transparent;
        border-top: 10px solid $colorMain;
    }

    &:last-child {
        &::before {
            display: none;
        }
    }
}

.scheduleUnit__date {
    width: 25%;
    margin-right: 20px;
    text-align: right;
    font-weight: normal;

    @include mediaQueryS {
        width: auto;
        margin: 0 0 1.5rem;
        text-align: left;
    }
}

.scheduleUnit__body {
    width: 65%;

    @include mediaQueryS {
        width: auto;
    }
}

.scheduleUnit__contents {
    > :last-child {
        margin-bottom: 0;
    }

    dt {
        margin-bottom: 1rem;
        line-height: 1.2;
        font-weight: bold;
    }

    dd {
        margin-bottom: 2rem;
        font-size: 1.4rem;

        > :last-child {
            margin-bottom: 0;
        }
    }
}

// -------------------------------------------------------------
//   主な操作方法
// -------------------------------------------------------------
.guideSwitch {
    display: flex;
    margin-bottom: 4rem;

    @include mediaQueryS {
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 2rem;
    }
}

@keyframes showGuideBtnBefore {
    from {
        bottom: 0
    }
    to {
        bottom: -20px;
    }
}

@keyframes showGuideBtnAfter {
    from {
        bottom: 0
    }
    to {
        bottom: -17px;
    }
}

.guideSwitch__btn {
    position: relative;
    margin-left: 15px;
    box-shadow: rgba(0, 0, 0, .16) 0 1px 4px;

    @include mediaQueryS {
        width: 30%;
        margin-bottom: 1rem;
    }

    @include mediaQueryM {
        width: 20%;
        margin-left: 10px;
    }

    &:first-child {
        margin-left: 0;
    }

    &.isCurrent {
        &::before {
            z-index: 1;
            content: "";
            position: absolute;
            bottom: -20px;
            left: 50%;
            margin-left: -10px;
            border: 10px solid transparent;
            border-top: 10px solid $colorMain;
            animation: showGuideBtnBefore .15s ease-out;

            @include mediaQueryS {
                display: none;
            }
        }

        &::after {
            z-index: 3;
            content: "";
            position: absolute;
            bottom: -17px;
            left: 50%;
            margin-left: -10px;
            border: 10px solid transparent;
            border-top: 10px solid #fff;
            animation: showGuideBtnAfter .15s ease-out;

            @include mediaQueryS {
                display: none;
            }
        }
    }

    &__inner {
        z-index: 2;
        position: relative;
        display: block;
        width: 188px;
        height: 80px;
        background: #fff;
        border: 2px solid #fff;
        border-radius: 4px;

        @include mediaQuerySM {
            width: 100%;
        }

        @include mediaQueryS {
            height: 60px;
        }
    }

    img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 70%;
        margin: auto;
        opacity: .4;
    }

    &--xserver {
        &:hover, &.isCurrent {
            .guideSwitch__btn__inner {
                border: 2px solid $colorMain;

                img {
                    opacity: 1;
                }
            }
        }

        &.isCurrent {
            &::before {
                border-top-color: $colorMain;
            }
        }
    }

    &--xbiz {
        &:hover, &.isCurrent {
            .guideSwitch__btn__inner {
                border: 2px solid #113d6b;

                img {
                    opacity: 1;
                }
            }
        }

        &.isCurrent {
            &::before {
                border-top-color: #113d6b;
            }
        }
    }

    &--xdomain {
        &:hover, &.isCurrent {
            .guideSwitch__btn__inner {
                border: 2px solid #1c5e9c;

                img {
                    opacity: 1;
                }
            }
        }

        &.isCurrent {
            &::before {
                border-top-color: #1c5e9c;
            }
        }
    }

    &--xdrive {
        &:hover, &.isCurrent {
            .guideSwitch__btn__inner {
                border: 2px solid #4a67a8;

                img {
                    opacity: 1;
                }
            }
        }

        &.isCurrent {
            &::before {
                border-top-color: #4a67a8;
            }
        }
    }

    &--nextshop {
        &:hover, &.isCurrent {
            .guideSwitch__btn__inner {
                border: 2px solid #00a1b7;

                img {
                    opacity: 1;
                }
            }
        }

        &.isCurrent {
            &::before {
                border-top-color: #00a1b7;
            }
        }
    }
}

@keyframes showGuideContent {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.guideContent {
    display: none;

    &.isCurrent {
        display: block;
        animation: showGuideContent .3s ease-out;
    }
}

.guideImageArea {
    margin-bottom: 4rem;
    text-align: center;

    @include mediaQueryS {
        margin-bottom: 2rem;
    }

    > img {
        max-width: 100%;
    }
}

.guideUnitContainer {
    > :last-child {
        margin-bottom: 0;
    }
}

.guideUnit {
    margin-bottom: 1.5rem;
    background: #fff;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .16) 0 1px 4px;
    text-align: center;

    @include mediaQueryS {
        margin-bottom: 1rem;
    }

    img {
        margin-bottom: 10px;
    }
}

.guideUnit__ttl {
    position: relative;
    padding: 1.2rem 1.5rem;
    cursor: pointer;
    font-size: 1.8rem;

    @include mediaQueryS {
        padding-right: 3rem;
        text-align: left;
        font-size: 1.6rem;
    }
}

.guideUnit__toggle {
    position: absolute;
    top: 50%;
    right: 10px;
    width: 20px;
    height: 20px;
    transform: translateY(-50%);

    &::before, &::after {
        content: '';
        position: absolute;
        top: 9px;
        left: 2px;
        width: 16px;
        height: 2px;
        background: #999999;
        transition: all .2s ease-out;
    }

    &::before {
        transform: rotateZ(0deg);

        .isOpen & {
            transform: rotateZ(180deg);
        }
    }

    &::after {
        transform: rotateZ(0deg);
        opacity: 0;

        .isOpen & {
            transform: rotateZ(90deg);
            opacity: 1;
        }
    }
}

.guideUnit__body {
    display: none;
    max-width: 640px;
    margin: 0 auto;
    padding: .8rem 0 4rem;
    text-align: left;
    font-size: 1.4rem;

    @include mediaQueryS {
        padding: .8rem 1.5rem 2.5rem;
    }

    .isOpen & {
        display: block;
    }

    > :last-child {
        margin-bottom: 0;
    }

    img {
        max-width: 100%;
    }
}

.manualLink {
    margin: 0 0 4rem;
    padding: 1.6rem 1.6rem 2.4rem;
    background: #fff;
    border: 2px solid #c1c7d8;
    border-radius: 4px;
    text-align: center;

    @include mediaQueryS {
        margin-bottom: 2rem;
        text-align: left;
    }

    &--xserver {
        border-color: #1c5e9c;
    }

    &--xbiz {
        border-color: #113d6b;
    }

    &--xdomain {
        border-color: #1c5e9c;
    }

    &--xdrive {
        border-color: #4a67a8;
    }

    &--nextshop {
        border-color: #00a1b7;
    }
}

a.manualLink__btn {
    display: block;
    width: 80%;
    margin: 0 auto;
    padding: 1.2rem 1.6rem;
    background: #fff;
    border: 1px solid #1c5e9c;
    text-align: center;
    box-shadow: rgba(0, 0, 0, .16) 0 1px 4px;
    border-radius: 3px;
    text-decoration: none;
    font-weight: bold;

    .manualLink--xserver & {
        border-color: #1c5e9c;
        color: #1c5e9c;
    }

    .manualLink--xbiz & {
        border-color: #113d6b;
        color: #113d6b;
    }

    .manualLink--xdomain & {
        border-color: #1c5e9c;
        color: #1c5e9c;
    }

    .manualLink--xdrive & {
        border-color: #4a67a8;
        color: #4a67a8;
    }

    .manualLink--nextshop & {
        border-color: #00a1b7;
        color: #00a1b7;
    }
}

// -------------------------------------------------------------
//   Q&A
// -------------------------------------------------------------
.faq {
    width: 800px;
    margin: 0 auto;
    border-top: 1px solid #cccccc;

    @include mediaQuerySM {
        width: 100%;
    }

    dt {
        padding: 3rem 2.5rem 1rem;
        font-size: 1.8rem;
        font-weight: bold;

        @include mediaQueryS {
            padding: 2rem 1.5rem 1rem;
            font-size: 1.6rem;
        }
    }

    dd {
        padding: 0 2.5rem 3rem;
        border-bottom: 1px solid #cccccc;
        font-size: 1.4rem;

        @include mediaQueryS {
            padding: 0 1.5rem 2rem;
        }
    }
}

// -------------------------------------------------------------
//   お問い合わせ
// -------------------------------------------------------------
.inquiryBtnContainer {
    display: flex;

    @include mediaQueryS {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.inquiryBtn {
    position: relative;
    width: 188px;
    height: 80px;
    margin-left: 15px;
    background: #fff;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .16) 0 1px 4px;

    @include mediaQueryS {
        width: 30%;
        height: 60px;
        margin-bottom: 1rem;
    }

    @include mediaQueryM {
        width: 20%;
        margin-left: 10px;
    }

    &:first-child {
        margin-left: 0;
    }

    img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 70%;
        margin: auto;
    }
}








