@charset "euc-jp";

/*

    全ページ共有のベースとなるスタイル

*/

/* ----------------------------------------------------------
    リセット / 新要素設定
------------------------------------------------------------- */
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, blockquote, pre, code, form, fieldset, legend, table, th, td, caption, a, article, aside, nav, section, figure, figcaption, footer, header, main, audio, canvas, video, menu, details {
    margin: 0;
    padding: 0;
    background: transparent;
    font-size: 100%;
    vertical-align: baseline;
}
fieldset, legend, img { border: 0; }
article, aside, nav, section, figure, figcaption, footer, header, main, menu, details { display: block; }
video, audio, canvas {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
audio:not([controls]) { display: none; }
[hidden] { display: none; }

/* ----------------------------------------------------------
    ベース
------------------------------------------------------------- */
html {
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    background: #fff;
    color: #222;
    font: 14px/1.6 Verdana, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "游ゴシック", YuGothic, sans-serif;
    letter-spacing: .03em;
    word-wrap: break-word;
    -webkit-text-size-adjust: 100%;
}

/* ----------------------------------------------------------
    要素
------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
    max-height: 100%;
    font-weight: bold;
    line-height: 1.2;
}
p {
    max-height: 100%;
    margin: 0 0 1em;
}
ul {
    max-height: 100%;
    list-style: none;
}
dt {
    max-height: 100%;
    font-weight: bold;
}
dd { max-height: 100%; }

a { color: #222; }
a:link, a.visited { text-decoration: underline; }
a:hover, a.active { color: #818181; text-decoration: underline; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
img { vertical-align: middle; }


i　{ font-style: normal; }
br { *letter-spacing: 0; }

/* ----------------------------------------------------------
    汎用
------------------------------------------------------------- */
/* マージン系 */
.mb0 { margin-bottom: 0 !important; }
.mb10 { margin-bottom: 10px !important; }
.mb20 { margin-bottom: 20px !important; }


/* Clearfix */
.clear { clear: both; }
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
