//=============================================================
//
// ニュース用スタイル
//
// 【対象ページ】
//   ・ニュースページ
//
//=============================================================

//-------------------------------------------------------------
// ベース・汎用
//-------------------------------------------------------------
.infoDetail {
    h1,h4{
        border-radius: 2px;
        line-height: 1;
        padding: 1.2rem 1.6rem;
        font-size: 1.8rem;
        font-weight: bold;
        background-color: #e5f0fa;
        border-left: 3px solid #1A60A3;
    }
    h2,h5{
        font-size: 1.6rem;
        font-weight: bold;
        &:before {
            display: inline-block;
            font-size: 2.5rem;
            margin-right: 5px;
            content: "■";
            color: #1A60A3;
        }
    }
    h3,h6{
        font-size: 1.5rem;
        font-weight: bold;
    }
    table {
        margin: 0 0 20px;
        background: #fff;
        border-top: 1px solid #eee;
        border-left: 1px solid #eee;
        border-collapse: collapse;

        th {
            background: #f0f0f0;
            border-bottom: 1px solid #eee;
            border-right: 1px solid #fff;
            text-align: center;
            padding: 12px;
        }

        td {
            padding: 12px;
            box-sizing: border-box;
            border-bottom: 1px solid #eee;
            border-right: 1px solid #eee;
            text-align: center;
        }
    }
    a{
        color: #286ed3;
        &:hover{
            opacity: 0.7;
        }
    }
    @include mediaQuerySM {
        img{
            max-width: 100%;
        }
    }
}
